<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="">

<th:block th:fragment="setting-aside">
    <aside id="sidebar" class="settings-aside">
        <h2 class="blind">설정 사이드 메뉴</h2>

        <th:block sec:authorize="hasRole('ROLE_USER')">
            <!-- 일반 회원 -->
            <!-- [스토리 > 설정] 사이드 메뉴 -->
            <nav class="settings-nav">
                <ul class="nav-depth1">
                    <li class="depth1-li">
                        <button class="depth1-btn">
                            <i class="bi bi-person"></i>
                            <span class="depth1-text">계정</span>
                        </button>
                        <ul class="nav-depth2">
                            <li class="depth2-li" th:classappend="${SETTINGS_ASIDE} == 'user-update' ? 'active' : ''">
                                <a th:href="@{/user/update}" href="/user/update" class="depth2-text">회원 정보</a>
                            </li>
                            <li class="depth2-li" th:classappend="${SETTINGS_ASIDE} == 'user-settlement'? 'active' : ''">
                                <a th:href="@{/settings/user/settlement}" href="/settings/user/settlement"
                                   class="depth2-text">계좌 정보</a>
                            </li>
                        </ul>
                    </li>
                    <li class="depth1-li">
                        <button class="depth1-btn">
                            <i class="bi bi-pencil"></i>
                            <span class="depth1-text">포스트</span>
                        </button>
                        <ul class="nav-depth2">
                            <li class="depth2-li" th:classappend="${SETTINGS_ASIDE} == 'paid-post'? 'active' : ''">
                                <a th:href="@{#}" href="#" class="depth2-text">유료 포스트 수정</a>
                            </li>
                        </ul>
                    </li>
                    <li class="depth1-li">
                        <button class="depth1-btn">
                            <i class="bi bi-calculator"></i>
                            <span class="depth1-text">수익/정산</span>
                        </button>
                        <ul class="nav-depth2">
                            <li class="depth2-li" th:classappend="${SETTINGS_ASIDE} == 'settlement'? 'active' : ''">
                                <a th:href="@{/settings/settlement}" href="/settings/settlement" class="depth2-text">정산
                                    요청</a>
                            </li>
                            <li class="depth2-li" th:classappend="${SETTINGS_ASIDE} == 'settlement-list'? 'active' : ''">
                                <a th:href="@{/settings/settlement/list}" href="/settings/settlement/list"
                                   class="depth2-text">정산 요청 내역</a>
                            </li>
                            <li class="depth2-li" th:classappend="${SETTINGS_ASIDE} == 'revenue-list'? 'active' : ''">
                                <a th:href="@{/settings/revenue/list}" href="/settings/revenue/list"
                                   class="depth2-text">수익 적립 내역</a>
                            </li>
                        </ul>
                    </li>
                    <li class="depth1-li">
                        <button class="depth1-btn">
                            <i class="bi bi-emoji-smile"></i>
                            <span class="depth1-text">멤버십</span>
                        </button>
                        <ul class="nav-depth2">
                            <li class="depth2-li" th:classappend="${SETTINGS_ASIDE} == 'membership'? 'active' : ''">
                                <a th:href="@{#}" href="#" class="depth2-text">멤버십 관리</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </th:block>

        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <!-- 관리자 회원 -->
            <!-- [관리자 페이지] 사이드 메뉴 -->
            <nav class="settings-nav">
                <ul class="nav-depth1">
                    <li class="depth1-li on">
                        <button class="depth1-btn">
                            <i class="bi bi-person-fill"></i>
                            <span class="depth1-text" onclick="window.location.href='/admin/user/list'">회원 관리</span>
                        </button>
                    </li>
                    <li class="depth1-li">
                        <button class="depth1-btn">
                            <i class="bi bi-collection-fill"></i>
                            <span class="depth1-text" onclick="window.location.href='/admin/genre/list'">장르 관리</span>
                        </button>
                    </li>
                    <li class="depth1-li">
                        <button class="depth1-btn">
                            <i class="bi bi-cone-striped"></i>
                            <span class="depth1-text">신고 관리</span>
                        </button>
                        <ul class="nav-depth2">
                            <li class="depth2-li">
                                <a th:href="@{/admin/report/comments}" href="/admin/report/comments"
                                   class="depth2-text">댓글 신고</a>
                            </li>
                            <li class="depth2-li">
                                <a th:href="@{/admin/report/posts}" href="/admin/report/posts" class="depth2-text">포스트 신고</a>
                            </li>
                        </ul>
                    </li>
                    <li class="depth1-li">
                        <button class="depth1-btn">
                            <i class="bi bi-pencil-fill"></i>
                            <span class="depth1-text">수정 관리</span>
                        </button>
                        <ul class="nav-depth2">
                            <li class="depth2-li">
                                <a th:href="@{/admin/modify/posts}" href="/admin/modify/posts" class="depth2-text">포스트
                                    관리</a>
                            </li>
                        </ul>
                    </li>
                    <li class="depth1-li">
                        <button class="depth1-btn">
                            <i class="bi bi-calculator-fill"></i>
                            <span class="depth1-text">정산 관리</span>
                        </button>
                        <ul class="nav-depth2">
                            <li class="depth2-li">
                                <a th:href="@{#}" href="#" class="depth2-text">정산 요청 조회</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </th:block>
    </aside>
</th:block>
<script src="/js/event.js"></script>
</html>