<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/settings}">

<th:block layout:fragment="link">
    <!-- 여기에 연결할 외부 CSS 링크를 지정 -->
    <!-- 생성한 CSS 파일은 `/resources/static/css` 에 넣어주세요. -->
    <link rel="stylesheet" th:href="@{/css/admin.css}" href="/css/admin.css"/>
</th:block>

<th:block layout:fragment="content">
    <script>
        const message = '[[${message}]]';
        message && alert(message);
    </script>
    <div class="sub-content">
        <div class="inner">
            <!-- 한 페이지 당 컨텐츠는 section으로 묶습니다. -->
            <section class="section">
                <h2 class="h2">댓글 신고</h2>

                <div class="table-option">
                    <div class="form-item">
                        <label>
                            <select class="select">
                                <option>5개씩</option>
                                <option>10개씩</option>
                                <option>15개씩</option>
                                <option>20개씩</option>
                            </select>
                        </label>
                        <button type="button" class="button btn-unlock">내역삭제</button>
                    </div>
                </div>

                <div class="table-box">
                    <table class="table" id="noStop">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="checkAll-comment-1" name="comment_report"/>
                                <label for="checkAll-comment-1">전체 선택</label>
                            </th>
                            <th>
                                <button onclick="filterAndSortByName()">정렬</button>
                            </th>
                            <th>번호</th>
                            <th>아이디</th>
                            <th>닉네임</th>
                            <th>신고 일자</th>
                            <th>댓글 내용</th>
                            <th>정지 여부</th>
                            <th>해제하기</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="commentReportList : ${commentReportList}">
                            <tr th:attr="data-lock=${commentReportList.userCode}">
                                <td><input type="checkbox" id="checkAll-comment-2" name="" class="form-check-input"/>
                                </td>
                                <td data-unlock="reportCode" th:text="${commentReportList.code}" class="tg-0lax"></td>
                                <td data-unlock="listCode" th:text="${commentReportList.userCode}" class="tg-0lax"></td>
                                <td data-unlock="listId" th:text="${commentReportList.userId}" class="tg-0lax"></td>
                                <td data-unlock="listNickName" th:text="${commentReportList.nickName}"
                                    class="tg-0lax"></td>
                                <td data-unlock="listReportDate" th:text="${commentReportList.reportDate}"
                                    class="tg-0lax"></td>
                                <td data-unlock="listContent" th:text="${commentReportList.content}"
                                    class="tg-0lax"></td>
                                <td data-unlock="listState" th:text="${commentReportList.state}" class="tg-0lax"></td>
                                <td>
                                    <button type="button" class="button btn-unlock"
                                            th:attr="data-user=${commentReportList.userCode}, data-nickname=${commentReportList.nickName}">
                                        해제하기
                                    </button>
                                </td>
                            </tr>
                        </th:block>

                        </tbody>
                    </table>
                </div>
                <div class="page" id="paging" align="center" style="margin-top: 20px;">
                    <ul class="pagination-user">
                        <th:block
                                th:if="${ paging.searchCondition != null and paging.searchValue != null }">
                            <!-- 맨 앞으로 이동 -->
                            <li><a th:href="'/admin/report/comments?page=1'">처음페이지</a></li>
                            <li>
                                <a th:href="@{/admin/report/comments(page=1, searchCondition=${paging.searchCondition}, searchValue=${paging.searchValue})}"
                                   class="arrow left"
                                   th:disabled="${ paging.page <= 1 }"><<</a></li>
                            <!-- 이전 페이지로 이동 -->

                            <!-- 숫자 버튼 -->
                            <th:block
                                    th:each="page : ${#numbers.sequence(paging.startPage, paging.endPage)}">
                                <li><a class="num" th:text="${page}" th:disabled="${paging.page eq page}"
                                       th:href="@{/admin/report/comments(page=${page}, searchCondition=${paging.searchCondition}, searchValue=${paging.searchValue})}"></a>
                                </li>
                            </th:block>

                            <!-- 다음 페이지로 이동 -->
                            <li>
                                <a th:href="@{/admin/report/comments(page=${paging.page+1},searchCondition=${paging.searchCondition},searchValue=${paging.searchValue})}"
                                   class="arrow right"
                                   th:disabled="${ paging.page >= paging.maxPage }">>></a></li>

                            <!-- 맨 끝으로 이동 -->
                            <li>
                                <a th:href="@{'/admin/report/comments?page=' + ${paging.maxPage} + '&searchCondition=' + ${paging.searchCondition} + '&searchValue=' + ${paging.searchValue}}"
                                   class="last">끝페이지</a></li>
                        </th:block>
                    </ul>

                    <ul class="pagination-user">
                        <th:block
                                th:if="${ paging.searchCondition == null || paging.searchValue == null }">
                            <!-- 맨 앞으로 이동 -->
                            <li><a th:href="'/admin/report/comments?page=1'">처음페이지</a></li>
                            <!-- 이전 페이지로 이동 -->
                            <li><a th:href="@{'/admin/report/comments?page=' + ${paging.page -1}}"
                                   th:disabled="${paging.page <= 1}"><<</a></li>
                            <!-- 숫자 버튼 -->
                            <th:block
                                    th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">

                                <li><a class="num" th:text="${ page }" th:disabled="${ paging.page eq page }"
                                       th:href="@{/admin/report/comments(page=${page})}"></a></li>
                            </th:block>

                            <!-- 다음 페이지로 이동 -->
                            <li><a th:href="@{'/admin/report/comments?page=' + ${paging.page + 1}}"
                                   th:disabled="${paging.page >= paging.maxPage}">>></a></li>

                            <!-- 맨 끝으로 이동 -->
                            <li><a th:href="@{'/admin/report/comments?page=' + ${paging.maxPage}}">끝페이지</a></li>
                        </th:block>
                    </ul>
                </div>
            </section>
            <!-- Pop-Up -->
            <div class="layer-popup-wrap">
                <!-- 큰 사이즈 -->
                <div class="layer-popup blind">
                    <div class="pop-header">
                        <h2 class="h2">안내 메시지</h2>
                        <button class="close-btn">
                            <i class="bi bi-x"></i>
                            <span class="blind">닫기</span>
                        </button>
                    </div>
                    <div class="pop-btn">
                        <!-- 버튼 개수는 여러 개 가능하고 색은 알아서 클래스 만들어서 사용하세요. -->
                        <input type="button" value="회원정지" class="button"/>
                        <input type="button" class="button" value="정지해제"/>
                    </div>
                </div>
            </div>
            <div class="layer-popup layer-popup-small blind">
                <div class="pop-header">
                    <h2 class="h2">정지해제</h2>
                    <button class="close-btn">
                        <i class="bi bi-x"></i>
                        <span class="blind">닫기</span>
                    </button>
                </div>
                <div class="pop-content">
                    <div class="pop-content-inner">
                        <h3 class="h3">해당 회원을 정지해제 하시겠습니까?</h3>
                        <div class="form-item">
                            <div class="pop-btn">
                                <form action="/admin/report/user/active" method="post" id="reportForm">
                                    <input type="hidden" name="userCode" id="userCode">
                                    <button type="submit" class="button">확인</button>
                                    <button type="button" class="button close-popup-btn">취소</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">

                const $unlockBtn = document.querySelectorAll('.btn-unlock');
                $unlockBtn.forEach(btn => {
                    btn.addEventListener("click", function () {
                        const dataUserCode = btn.getAttribute("data-user");
                        const dataNickname = btn.getAttribute("data-nickname");
                        reportForm.userCode.value = dataUserCode;
                        document.querySelector('.pop-content h3').textContent = dataNickname + ' 회원을 정지해제 하시겠습니까?';

                        showPopup();

                    })
                })

                function showPopup() {
                    // 팝업창 열기
                    var popup = document.querySelector('.layer-popup-small');
                    popup.classList.remove('blind');


                }


                function filterAndSortByName() {
                    // 테이블과 테이블의 tbody를 가져옵니다.
                    var table = document.getElementById('noStop');
                    var tbody = table.getElementsByTagName('tbody')[0];

                    // tbody 내부의 모든 tr 요소들을 가져옵니다.
                    var rows = tbody.getElementsByTagName('tr');

                    // 이름을 저장할 객체를 생성합니다.
                    var nameGroups = {};

                    // 모든 행을 반복하여 이름별로 그룹화합니다.
                    for (var i = 0; i < rows.length; i++) {
                        var nameCell = rows[i].querySelector('[data-unlock="listNickName"]');
                        var name = nameCell.textContent.trim();

                        // 이름별로 그룹화된 배열이 존재하지 않으면 생성합니다.
                        if (!nameGroups[name]) {
                            nameGroups[name] = [];
                        }

                        // 해당 이름의 그룹에 현재 행을 추가합니다.
                        nameGroups[name].push(rows[i]);
                    }

                    // 이름 그룹을 정렬합니다.
                    var sortedNames = Object.keys(nameGroups).sort();

                    // 정렬된 순서대로 tbody에 행을 추가합니다.
                    tbody.innerHTML = ''; // tbody 내용을 비웁니다.
                    for (var j = 0; j < sortedNames.length; j++) {
                        var nameGroup = nameGroups[sortedNames[j]];
                        for (var k = 0; k < nameGroup.length; k++) {
                            tbody.appendChild(nameGroup[k]);
                        }
                    }
                }

                const checkAll = document.getElementById("checkAll-comment-1");
                const checkInputs = document.querySelectorAll(".form-check-input");

                checkAll.addEventListener("click", function () {
                    checkInputs.forEach(checkbox => {
                        checkbox.checked = this.checked;
                    });
                });

                checkInputs.forEach(checkbox => {
                    checkbox.addEventListener("click", function () {
                        const checkedInputs = document.querySelectorAll(".form-check-input:checked");
                        const totalCheckInputs = document.querySelectorAll(".form-check-input").length;

                        checkAll.checked = (checkedInputs.length === totalCheckInputs);
                    });
                });

                const closeButton = document.querySelector('.close-btn');
                const cancelButton = document.querySelector('.layer-popup .button[type="button"]');

                closeButton.addEventListener("click", function () {
                    closePopup();
                });

                cancelButton.addEventListener("click", function () {
                    closePopup();
                });

                const $closePopupBtn = document.querySelectorAll('.close-popup-btn');
                $closePopupBtn.forEach($btn => {
                    $btn.addEventListener("click", function (event) {
                        event.target.closest('.layer-popup-small').classList.add('blind');
                    });
                });


            </script>


            <!-- ------------------------------------ -->
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <!-- 여기에 연결할 외부 javascript 링크를 지정 -->
    <!-- 생성한 CSS 파일은 `/resources/static/js` 에 넣어주세요. -->
    <!-- [작성 예시] <script th:src="@{/js/파일명.js}" src="/js/파일명.js"></script> -->
</th:block>
</html>
