<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/settings}">

<th:block layout:fragment="link">
    <!-- 여기에 연결할 외부 CSS 링크를 지정 -->
    <!-- 생성한 CSS 파일은 `/resources/static/css` 에 넣어주세요. -->
    <link rel="stylesheet" th:href="@{/css/admin.css}" href="/css/admin.css"/>
</th:block>

<th:block layout:fragment="content">
    <script>
        const message = '[[${message}]]';
        message && alert(message);
    </script>
    <div class="sub-content">
        <div class="inner">
            <!-- 한 페이지 당 컨텐츠는 section으로 묶습니다. -->
            <section class="section">
                <h2 class="h2">수정 요청 조회</h2>

                <div class="show-post">
                    <select name="show-post">
                        <option>5개씩</option>
                        <option>10개씩</option>
                        <option>15개씩</option>
                        <option>20개씩</option>
                    </select>
                </div>

                <table class="tg-modify">
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="checkAll-modify-1" name="" class="form-check-input"/>
                        </th>
                        <th class="tg-0lax">번호</th>
                        <th class="tg-0lax">아이디</th>
                        <th class="tg-0lax">닉네임</th>
                        <th class="tg-0lax">수정요청사유</th>
                        <th class="tg-0lax">포스트가격</th>
                        <th class="tg-0lax">수정요청일자</th>
                        <th class="tg-0lax">수정관리</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="modifyPostAllList : ${modifyPostAllList}">
                        <th><input type="checkbox" id="checkAll-modify-2" name="" class="form-check-input"/></th>
                        <td data-modify="listCode" th:text="${modifyPostAllList.code}" class="tg-0lax">1</td>
                        <td data-modify="listCode" th:text="${modifyPostAllList.userCode}" class="tg-0lax"></td>
                        <td data-modify="listCode" th:text="${modifyPostAllList.title}" class="tg-0lax"></td>
                        <td data-modify="listCode" th:text="${modifyPostAllList.confirmContent}" class="tg-0lax"></td>
                        <td data-modify="listCode" th:text="${modifyPostAllList.price}" class="tg-0lax"></td>
                        <td data-modify="listCode" th:text="${modifyPostAllList.createDate}" class="tg-0lax"></td>
                        <td>
                            <button type="button" class="button btn-modify"
                                    th:attr="data-user=${modifyPostAllList.postCode}">수락
                            </button>
                        </td>
                    </th:block>
                    </tbody>
                </table>
                <div class="page">
                    <ul class="pagination-modifyPost">
                        <li><a href="#" class="first">처음페이지</a></li>
                        <li><a href="#" class="arrow left"><<</a></li>
                        <li><a href="#" class="active num">1</a></li>
                        <li><a href="#" class="num">2</a></li>
                        <li><a href="#" class="num">3</a></li>
                        <li><a href="#" class="num">4</a></li>
                        <li><a href="#" class="num">5</a></li>
                        <li><a href="#" class="arrow right">>></a></li>
                        <li><a href="#" class="last">끝페이지</a></li>
                    </ul>
                </div>
            </section>
            <!-- ------------------------------------ -->
            <!-- Pop-Up -->
            <div class="layer-popup layer-popup-small blind">
                <div class="pop-header">
                    <h2 class="h2">포스트 삭제</h2>
                    <button class="close-btn">
                        <i class="bi bi-x"></i>
                        <span class="blind">닫기</span>
                    </button>
                </div>
                <div class="pop-content">
                    <div class="pop-content-inner">
                        <h3 class="h3">해당 포스트 수정을 승인 하시겠습니까?</h3>
                        <div class="form-item">
                            <div class="pop-btn">
                                <form action="/admin/modify/posts/confirm" method="post" id="reportForm">
                                    <input type="hidden" name="postCode" id="postCode">
                                    <button type="submit" class="button">확인</button>
                                    <button type="button" class="button">취소</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">

                const $deleteBtns = document.querySelectorAll('.btn-modify');
                const $postCodeInput = document.getElementById('postCode');

                $deleteBtns.forEach(btn => {
                    btn.addEventListener('click', function () {
                        const postCode = btn.getAttribute('data-user');
                        $postCodeInput.value = postCode;
                        showPopup();
                    });
                });

                function showPopup() {
                    const popup = document.querySelector('.layer-popup-small');
                    popup.classList.remove('blind');
                }

                document.querySelector('.close-btn').addEventListener('click', function () {
                    const popup = document.querySelector('.layer-popup-small');
                    popup.classList.add('blind');
                });
            </script>

        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <!-- 여기에 연결할 외부 javascript 링크를 지정 -->
    <!-- 생성한 CSS 파일은 `/resources/static/js` 에 넣어주세요. -->
    <!-- [작성 예시] <script th:src="@{/js/파일명.js}" src="/js/파일명.js"></script> -->
</th:block>
</html>
