<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/sub.css}" href="/css/sub.css" />
    <!-- 여기에 연결할 외부 CSS 링크를 지정 -->
    <!-- 생성한 CSS 파일은 `/resources/static/css` 에 넣어주세요. -->
    <link rel="stylesheet" th:href="@{/css/admin.css}" href="/css/admin.css" />
</th:block>

<th:block layout:fragment="content">
    <div class="sub-content">
        <div class="inner">
            <!-- 한 페이지 당 컨텐츠는 section으로 묶습니다. -->
            <section class="section">
                <h2 class="h2">댓글 신고</h2>

                <div class="table-option">
                    <div class="form-item">
                        <select class="select">
                            <option>5개씩</option>
                            <option>10개씩</option>
                            <option>15개씩</option>
                            <option>20개씩</option>
                        </select>
                    </div>
                </div>

                <div class="table-box">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="checkAll-comment-1" name="comment_report" />
                                <label for="checkAll-comment-1">전체 선택</label>
                            </th>
                            <th>번호</th>
                            <th>아이디</th>
                            <th>닉네임</th>
                            <th>신고 일자</th>
                            <th>신고 사유</th>
                            <th>정지 여부</th>
                            <th>해제하기</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="commentReportList : ${commentReportList}">
                            <td><input type="checkbox" id="checkAll-comment-2" name="comment_report" /></td>
                            <td th:text="${commentReportList.code}" class="tg-0lax"></td>
                            <td th:text="${commentReportList.userId}" class="tg-0lax"></td>
                            <td th:text="${commentReportList.nickName}" class="tg-0lax"></td>
                            <td th:text="${commentReportList.state}" class="tg-0lax"></td>
                            <td th:text="${commentReportList.type}" class="tg-0lax"></td>
                            <td th:text="${commentReportList.reportDate}" class="tg-0lax"></td>
                            <td><button class="button">해제</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page">
                    <ul class="pagination-commentReport">
                        <li><a href="#" class="first">처음페이지</a></li>
                        <li><a href="#" class="arrow left"><<</a></li>
                        <li><a href="#" class="active num">1</a></li>
                        <li><a href="#" class="num">2</a></li>
                        <li><a href="#" class="num">3</a></li>
                        <li><a href="#" class="num">4</a></li>
                        <li><a href="#" class="num">5</a></li>
                        <li><a href="#" class="arrow right">>></a></li>
                        <li><a href="#" class="last">끝페이지</a></li>
                    </ul>
                </div>
            </section>
            <!-- Pop-Up -->
            <div class="popUpWrap" style="display: none">
                <div class="popUp_bg">
                    <div class="popUp_info">
                        <h3 class="h3">신고 정보</h3>

                        <div class="table-box">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th scope="col">번호</th>
                                    <th scope="col">작성일시</th>
                                    <th scope="col">댓글내용</th>
                                    <th scope="col">해당 포스트</th>
                                    <th scope="col">포스트 작성자</th>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>@twitter</td>
                                    <td>너는 바보다</td>
                                    <td>프로젝트를 잘 하는방법</td>
                                    <td>김아현</td>
                                </tr>

                                <tr>
                                    <th scope="row">2</th>
                                    <td>@twitter</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>Thornton</td>
                                </tr>

                                <tr>
                                    <th scope="row">3</th>
                                    <td>@twitter</td>
                                    <td>@twitter</td>
                                    <td>@twitter</td>
                                    <td>@twitter</td>
                                </tr>

                                <tr>
                                    <th scope="row">4</th>
                                    <td>@twitter</td>
                                    <td>@twitter</td>
                                    <td>@twitter</td>
                                    <td>@twitter</td>
                                </tr>

                                <tr>
                                    <th scope="row">5</th>
                                    <td>@twitter</td>
                                    <td>@twitter</td>
                                    <td>@twitter</td>
                                    <td>@twitter</td>
                                </tr>

                                <tr>
                                    <th scope="row">6</th>
                                    <td>@twitter</td>
                                    <td>@twitter</td>
                                    <td>@twitter</td>
                                    <td>@twitter</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="popUp_btns">
                            <button class="button">정지 해제</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popUpWrap" style="display: none">
                <div class="popUp_bg">
                    <div class="popUp_info">
                        <div class="popUp_header">
                            <h3 class="h3">안내창</h3>
                        </div>
                        <div class="popup-content">
                            <p>고등어 회원의 정지를 해제하시겠습니까?</p>
                        </div>
                        <div class="popUp_btns">
                            <button class="button">예</button>
                            <button class="button">아니오</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ------------------------------------ -->
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <!-- 여기에 연결할 외부 javascript 링크를 지정 -->
    <!-- 생성한 CSS 파일은 `/resources/static/js` 에 넣어주세요. -->
    <!-- [작성 예시] <script th:src="@{/js/파일명.js}" src="/js/파일명.js"></script> -->
</th:block>
</html>
