<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/sub.css}" href="/css/sub.css" />
    <!-- 여기에 연결할 외부 CSS 링크를 지정 -->
    <!-- 생성한 CSS 파일은 `/resources/static/css` 에 넣어주세요. -->
    <!-- [작성 예시] <link rel="stylesheet" th:href="@{/css/파일명.css}" href="/css/파일명.css" /> -->
</th:block>

<th:block layout:fragment="content">
    <div class="sub-content">
        <div class="inner">
            <!-- 한 페이지 당 컨텐츠는 section으로 묶습니다. -->
            <section class="section">
                <h2 class="h2">장르 관리</h2>

                <div class="genre-group">
                    <h3 class="h3">상위 장르</h3>

                    <ul class="first-genre-group genre">
                        <li class="first-genre-list">웹툰</li>
                        <li class="first-genre-list">소설</li>
                        <li class="first-genre-list">팬픽</li>
                        <li class="first-genre-list">시</li>
                        <li class="first-genre-list">일상</li>
                        <li class="first-genre-list">창작소재</li>
                        <li class="first-genre-list">일러스트</li>
                        <li class="first-genre-list">자기계발</li>
                        <li class="first-genre-list">미분류</li>
                    </ul>
                </div>

                <div class="genre-group">
                    <h3 class="h3">하위 장르</h3>

                    <ul class="second-genre-group genre">
                        <li class="first-genre-list">
                            <span>소설</span>
                            <button>X</button>
                        </li>
                        <li class="first-genre-list">
                            <span>로맨스</span>
                            <button>X</button>
                        </li>
                        <li class="first-genre-list">
                            <span>추리</span>
                            <button>X</button>
                        </li>
                        <li class="first-genre-list">
                            <span>판타지</span>
                            <button>X</button>
                        </li>
                        <li class="first-genre-list">
                            <span>학원물</span>
                            <button>X</button>
                        </li>
                        <li class="first-genre-list">
                            <span>액션</span>
                            <button>X</button>
                        </li>
                        <li class="first-genre-list">
                            <span>무협</span>
                            <button>X</button>
                        </li>
                        <li class="first-genre-list">
                            <span>드라마</span>
                            <button>X</button>
                        </li>
                        <li class="first-genre-list">
                            <span>공포/호러</span>
                            <button>X</button>
                        </li>
                        <li class="first-genre-list">
                            <span>미스테리</span>
                            <button>X</button>
                        </li>
                        <li class="first-genre-list">
                            <span>코믹</span>
                            <button>X</button>
                        </li>
                    </ul>
                </div>

                <form id="searchForm">
                    <div class="genre-add-box">
                        <div class="genre-option form-item">
                            <select class="select">
                                <option value="">전체</option>
                                <option value="T">상위 장르</option>
                                <option value="C">하위 장르</option>
                            </select>
                        </div>
                        <div class="genre-keyword form-item">
                            <input type="text" class="input" value="장르를 입력하세요." />
                        </div>
                        <div class="genre-btn form-item">
                            <button class="button">추가</button>
                        </div>
                    </div>
                </form>
            </section>
            <!-- ------------------------------------ -->
            <div class="popUpWrap" style="display: none">
                <div class="popUp_bg">
                    <div class="popUp_info-genre">
                        <h4 class="h4">해당 장르가 존재합니다.</h4>
                        <div class="black_btns btns">
                            <button class="btn" type="submit">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <!-- 여기에 연결할 외부 javascript 링크를 지정 -->
    <!-- 생성한 CSS 파일은 `/resources/static/js` 에 넣어주세요. -->
    <!-- [작성 예시] <script th:src="@{/js/파일명.js}" src="/js/파일명.js"></script> -->
</th:block>
</html>
