<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/sub.css}" href="/css/sub.css"/>
    <!--     여기에 연결할 외부 CSS 링크를 지정 -->
    <!--     생성한 CSS 파일은 `/resources/static/css` 에 넣어주세요. -->
    <link rel="stylesheet" th:href="@{/css/user.css}" href="/css/user.css"/>
    <script>
        const message = '[[${message}]]';
        console.log(message);
        message && alert(message);
    </script>
</th:block>
<th:block layout:fragment="content">
    <div class="sub-content">
        <div class="inner">
            <!-- 한 페이지 당 컨텐츠는 section으로 묶습니다. -->
            <section class="section">
                <div class="login_info">
                    <h2 class="title_text">로그인</h2>
                    <form action="/user/login" method="post" id="loginForm">
                        <div class="loginWrap">
                            <div class="inputWrap">
                                <label class="labelTitle" for="userId">아이디</label>
                                <div class="input_box">
                                    <input type="text" id="userId" name="userId"
                                           placeholder="아이디를 입력해주세요.(영어,숫자 포함 5자 ~ 11자 이내)" required/>
                                </div>
                            </div>
                            <div class="inputWrap">
                                <label class="labelTitle" for="password">비밀번호</label>
                                <div class="input_box">
                                    <input type="password" id="password" name="password"
                                           placeholder="비밀번호를 입력해주세요. (문자, 숫자, 특수문자 포함 8자 ~ 20자 이내)" required/>
                                </div>
                            </div>
                        </div>
                        <div class="login_bottom">
                            <div class="keep_check">
                                <input type="checkbox" id="keep" name="nvlong" class="input_keep" value="off">
                                <label for="keep" class="keep_text">로그인 상태 유지</label>
                            </div>
                            <ul class="find_texts">
                                <li onclick="location.href='/user/findPwd'">비밀번호 찾기</li>
                            </ul>
                        </div>
                        <div class="black_btns btns">
                            <button class="btn" type="submit" id="loginSubmit" value="로그인">로그인</button>
                        </div>
                    </form>
                    <div class="white_btns btns">
                        <button id="regist" class="btn">회원가입</button>
                    </div>
                </div>
            </section>
            <!-- ------------------------------------ -->
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <!-- 여기에 연결할 외부 javascript 링크를 지정 -->
    <!-- 생성한 CSS 파일은 `/resources/static/js` 에 넣어주세요. -->
    <script th:src="@{/js/common.js}" src="/js/common.js"></script>
    <script th:src="@{/js/event.js}" src="/js/event.js"></script>
    <script th:src="@{/js/user.js}" src="/js/user.js"></script>
    -->
</th:block>

</html>