<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/settings}">

<th:block layout:fragment="link">
    <!--     여기에 연결할 외부 CSS 링크를 지정 -->
    <!--     생성한 CSS 파일은 `/resources/static/css` 에 넣어주세요. -->
    <link rel="stylesheet" th:href="@{/css/user.css}" href="/css/user.css"/>
    <script>
        const message = '[[${message}]]';
        console.log(message);
        message && alert(message);
    </script>
</th:block>
<th:block layout:fragment="content">
    <div class="sub-content">
        <div class="inner">
            <!-- 한 페이지 당 컨텐츠는 section으로 묶습니다. -->
            <section class="section">
                <div class="my_profile_info">
                    <form name="userModifyForm" action="/user/update" method="post" enctype="multipart/form-data">
                        <div class="my_profile_top">
                            <div class="left">
                                <div class="img">
                                    <img id="image-box" th:src="${#authentication.principal.profileImage != null
                        ? #authentication.principal.profileImage : '/images/temp/profile.png'}" alt="유저 프로필"/>
                                </div>
                                <div class="file_box">
                                    <input id="image-file-box" type="file" value="이미지 업로드" name="profile"
                                           onchange="viewURL()" class="blind"/>
                                    <label for="image-file-box" class="upload_btn">이미지 업로드</label>
                                    <div class="gray_btns btns">
                                        <button class="btn" type="button" onclick="fileCancled()">이미지 제거</button>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <h3 class="title">자기소개</h3>
                                <textarea name="introduction" cols="30" rows="5">[[${ #authentication.principal.introduction }]]</textarea><br>
                            </div>
                        </div>
                        <div class="my_profile_bottom">
                            <div class="inputWrap">
                                <label class="labelTitle" for="user_id">아이디</label>
                                <div class="input_box">
                                    <p class="input_box_text" th:text="${ #authentication.principal.userId }"></p>
                                    <!--                                <input type="text" id="user_id" name="userId" required/>-->
                                </div>
                            </div>
                            <div class="inputWrap">
                                <label class="labelTitle" for="user_email">이메일</label>
                                <div class="input_box">
                                    <p class="input_box_text" th:text="${ #authentication.principal.email }"></p>
                                </div>
                            </div>
                            <div class="inputWrap">
                                <label class="labelTitle" for="user_nickname">닉네임</label>
                                <div class="input_box">
                                    <!--                                    <input type="text" id="user_nickname" name="nickname"/>-->
                                    <input name="nickname" th:value="${ #authentication.principal.nickname }" required/>
                                    <!--                                           th:value="${ #authentication.principal.nickname }" required/>-->
                                </div>
                            </div>
                            <div class="inputWrap">
                                <label class="labelTitle" for="user_pwd">비밀번호</label>
                                <div class="input_box">
                                    <input type="password" id="user_pwd" name="password"/>
                                </div>
                            </div>
                            <div class="inputWrap">
                                <label class="labelTitle">정산</label>
                                <div class="input_box">
                                    <div class="gray_btns btns">
                                        <input class="btn" type="button"
                                               onclick="location.href='/settings/user/settlement'"
                                               value="정산관리 페이지로 가기"/>
                                    </div>
                                </div>
                            </div>
                            <div class="inputWrap">
                                <label class="labelTitle">구독공개 여부</label>
                                <div class="input_box">
                                    <label class="toggle_switch">
                                        <input type="checkbox" name="isSubscriberVisible" value="Y"
                                               th:checked="${#strings.equals(#authentication.principal.isSubscriberVisible, 'Y')}">
                                        <!--                                             위 토글의 타입 및 아이디설정 --(구독 공개여부 / 승재) -->
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="inputWrap">
                                <label class="labelTitle" for="user_email">계정</label>
                                <div class="input_box">
                                    <div class="gray_btns btns">
                                        <input class="btn" type="button"
                                               onclick="location.href='/user/withdrawal'" value="계정탈퇴 페이지로 가기"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modify_btn">
                            <input type="submit" class="black_btn" value="수정하기">
                        </div>
                    </form>
                </div>
            </section>
            <!-- ------------------------------------ -->
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <!-- 여기에 연결할 외부 javascript 링크를 지정 -->
    <!-- 생성한 CSS 파일은 `/resources/static/js` 에 넣어주세요. -->
    <script th:src="@{/js/event.js}" src="/js/event.js"></script>
    <script th:src="@{/js/user.js}" src="/js/user.js"></script>
    <script>
        function viewURL() {
            const $imageFile = document.querySelector("#image-file-box");
            const fReader = new FileReader();
            fReader.readAsDataURL($imageFile.files[0]);
            fReader.onload = function (event) {
                const img = document.querySelector("#image-box");
                img.src = event.target.result;
                console.log("path : ", event.target.result);
            }
        }

        function fileCancled() {
            const $fileImg = document.querySelector("#image-box");
            const $imageFileBox = document.querySelector("#image-file-box");

            $fileImg.src = "/images/temp/profile.png";
            $imageFileBox.value = "";

            const $userModifyForm = document.forms.userModifyForm;

            /* 제거했을때 넘어오는 코드 */
            $userModifyForm.insertAdjacentHTML("beforeend", `<input type="hidden" name="profileDelete" value="true"/>`);

        }

        console.log(document.forms)


        document.addEventListener('DOMContentLoaded', function () {
            const toggleSwitch = document.querySelector('.toggle_switch input[type="checkbox"]');
            const subscriptionStatus = document.querySelector('#subscriptionStatus'); // 공개 여부를 표시할 곳

            // 페이지가 로드될 때 초기 설정 가져오기
            const initialSubscriptionStatus = toggleSwitch.checked;

            // 토글 상태 변경 시 이벤트 처리
            toggleSwitch.addEventListener('change', function () {
                if (this.checked) {
                    subscriptionStatus.textContent = '공개';
                } else {
                    subscriptionStatus.textContent = '비공개';
                }
            });
        });

    </script>

</th:block>
</html>