<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>보관함 > 좋아요(좋아요 한 작품이 없을 때)</title>
    <!-- favicon -->
    <!-- <link rel="icon" type="image/png" href="/assets/img/brand/favicon.png" /> -->
    <!-- <link rel="apple-touch-icon" type="image/png" href="/img/brand/apple-touch-icon.png" /> -->
    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" ref="https://cdn.jsdelivr.net/npm/swiper@11.0.7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/user.css" />
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11.0.7/swiper-bundle.min.js"></script>
</head>
<body>
<div id="wrap">
    <!-- header area -->
    <header id="header">header here</header>
    <!-- main content area -->
    <div id="main">
        <div class="container">
            <div class="notLikePage likePage">
                <ul class="storage_box">
                    <li class="storage_box_list"><a href="">좋아요 한 작품</a></li>
                    <li class="storage_box_list"><a href="">유료 구매 작품</a></li>
                </ul>
                <div class="not_post">
                    <h5>좋아요한 포스트가 없습니다.</h5>
                    <div class="black_btns btns">
                        <button class="btn">컬렉션 둘러보기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer area -->
    <footer id="footer">footer here</footer>
</div>
</body>
</html>