<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/sub.css}" href="/css/sub.css"/>
    <!-- 여기에 연결할 외부 CSS 링크를 지정 -->
    <!-- 생성한 CSS 파일은 `/resources/static/css` 에 넣어주세요. -->
    <link rel="stylesheet" th:href="@{/css/user.css}" href="/css/user.css"/>
</th:block>

<th:block layout:fragment="content">
    <div class="sub-content">
        <div class="inner">
            <!-- 한 페이지 당 컨텐츠는 section으로 묶습니다. -->
            <section class="section">
                <div class="secession">
                    <h2 class="secession_title">정말 떠나시는 건가요?
                        <br/>한 번 더 생각해 보지 않으시겠어요?
                    </h2>
                    <form action="/user/delete" method="post">
                        <div class="secessionWrap">
                            <div class="check_box">
                                <input type="checkbox" id="agree_check1" name="secessionCheckbox"
                                       onchange="checkboxGroup(this)" value="1"/>
                                <label for="agree_check1">
                                    <span></span>
                                    <p>
                                        기록 삭제 목적
                                    </p>
                                </label>
                            </div>
                            <div class="check_box">
                                <input type="checkbox" id="agree_check1" name="secessionCheckbox"
                                       onchange="checkboxGroup(this)" value="2"/>
                                <label for="agree_check1">
                                    <span></span>
                                    <p>
                                        이용이 불편하고 장애가 많아서
                                    </p>
                                </label>
                            </div>
                            <div class="check_box">
                                <input type="checkbox" id="agree_check1" name="secessionCheckbox"
                                       onchange="checkboxGroup(this)" value="3"/>
                                <label for="agree_check1">
                                    <span></span>
                                    <p>
                                        포인트가 비싸서
                                    </p>
                                </label>
                            </div>
                            <div class="check_box">
                                <input type="checkbox" id="agree_check1" name="secessionCheckbox"
                                       onchange="checkboxGroup(this)" value="4"/>
                                <label for="agree_check1">
                                    <span></span>
                                    <p>
                                        다른 사이트가 좋아서
                                    </p>
                                </label>
                            </div>
                            <div class="check_box">
                                <input type="checkbox" id="agree_check1" name="secessionCheckbox"
                                       onchange="checkboxGroup(this)" value="5"/>
                                <label for="agree_check1">
                                    <span></span>
                                    <p>
                                        사용 빈도가 낮아서
                                    </p>
                                </label>
                            </div>
                            <div class="check_box">
                                <input type="checkbox" id="agree_check1" name="secessionCheckbox"
                                       onchange="checkboxGroup(this)" value="6"/>
                                <label for="agree_check1">
                                    <span></span>
                                    <p>
                                        기타
                                    </p>
                                </label>
                            </div>
                        </div>
                        <div class=""></div>
                        <div class="check_box">
                            <input type="checkbox" id="agree_check1" name="secessionCheckbox"
                                   onchange="checkboxGroup(this)" value="7"/>
                            <label for="agree_check1">
                                <span></span>
                                <p>
                                    유료 포스트 관련 약관 동의(? 샬라샬라,..
                                </p>
                            </label>
                        </div>
                        <div class="inputWrap">
                            <label for="password">사용중인 비밀번호</label>
                            <div class="input_box">
                                <input type="text" name="password" id="password" placeholder="비밀번호 입력"/>
                                <button id="checkPassword">확인</button>
                            </div>
                        </div>
                        <div class="black_btns btns">
                            <button class="btn" type="submit" id="deleteUser">탈퇴하기</button>
                        </div>
                    </form>
                </div>
            </section>
            <!-- ------------------------------------ -->
        </div>
    </div>
    <!--    <script>-->
    <!--        function checkboxGroup(currentCheckbox) {-->
    <!--            const checkboxes = document.getElementsByName("secessionCheckbox");-->

    <!--            // 현재 선택한 체크박스의 값-->
    <!--            const currentValue = currentCheckbox.value;-->

    <!--            for (let i = 0; i < checkboxes.length; i++) {-->
    <!--                // 현재 선택한 체크박스가 아니고, 현재 값과 동일한 값을 가진 체크박스가 선택되어 있다면 선택을 해제합니다.-->
    <!--                if (checkboxes[i] !== currentCheckbox && checkboxes[i].value === currentValue && checkboxes[i].checked) {-->
    <!--                    checkboxes[i].checked = false;-->
    <!--                }-->
    <!--            }-->
    <!--        }-->
    <!--    </script>-->
</th:block>

<th:block layout:fragment="script">
    <!-- 여기에 연결할 외부 javascript 링크를 지정 -->
    <!-- 생성한 CSS 파일은 `/resources/static/js` 에 넣어주세요. -->
    <script type="text/javascript" src="/js/user.js"></script>
    <script type="text/javascript" src="/js/agree.js"></script>
    <script type="text/javascript" src="/js/event.js"></script>
</th:block>
</html>
