<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pentoryall.admin.mapper.CommentReportMapper">
<select id="commentReportAllList" resultType="com.pentoryall.admin.DTO.CommentReportDTO">
    SELECT
        u.code,
        u.nickname,
        r.type,
        r.report_date,
        u.state
    FROM
        user u
            JOIN
        report r ON u.code = r.user_code
    WHERE
        u.state = 'ACTIVE';

</select>
</mapper>

