<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pentoryall.admin.mapper.CommentReportMapper">

<select id="selectAllCommentReportList" resultType="com.pentoryall.admin.DTO.CommentReportDTO">
    SELECT
        u.code,
        u.user_id,
        u.nickname,
        r.type,
        u.state,
        r.report_date
    FROM
        user u JOIN report r
    WHERE
        u.state = 'SUSPENDED';
</select>

    <select id="selectTotalCount" resultType="_int">
        SELECT
            COUNT(*)
        FROM
            report
    </select>

    <update id="restoreUserState">
        UPDATE
            user
        SET state = 'ACTIVE'
        WHERE state = 'SUSPENDED'
          AND code = #{userCode}
    </update>

    <update id="StopUser">
        UPDATE
            user
        SET state = 'SUSPENDED'
        WHERE state = 'ACTIVE'
          AND code = #{userCode}
    </update>

</mapper>

