<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 형식 올바르게 수정 후 사용하세요. -->
<mapper namespace="com.pentoryall.comment.mapper.CommentMapper">
    <resultMap id="commentResultMap" type="com.pentoryall.comment.dto.CommentDetailDTO">
        <id property="code" column="a.code"/>
        <result property="postCode" column="post_code"/>
        <result property="refCommentCode" column="ref_comment_code"/>
        <result property="content" column="content"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
        <association property="user" javaType="com.pentoryall.user.dto.UserDTO">
            <id property="code" column="code"/>
            <result property="email" column="email"/>
            <result property="userId" column="user_id"/>
            <result property="password" column="password"/>
            <result property="nickname" column="nickname"/>
            <result property="name" column="name"/>
            <result property="birth" column="birth"/>
            <result property="profileImage" column="profile_image"/>
            <result property="introduction" column="introduction"/>
            <result property="revenue" column="revenue"/>
            <result property="point" column="point"/>
            <result property="role" column="role"/>
            <result property="state" column="state"/>
            <result property="isCertificated" column="is_certificated"/>
            <result property="isSubscriberVisible" column="is_subscriber_visible"/>
            <result property="createDate" column="create_date"/>
            <result property="updateDate" column="update_date"/>
            <result property="deleteDate" column="delete_date"/>
            <result property="suspensionEndDate" column="suspension_end_date"/>
        </association>
    </resultMap>
    <select id="selectCommentByPostCode" resultMap="commentResultMap">
        SELECT
            a.code,
            a.user_code,
            a.post_code,
            a.ref_comment_code,
            a.content,
            a.is_deleted,
            a.create_date,
            a.update_date,
            b.code,
            b.email,
            b.user_id,
            b.password,
            b.nickname,
            b.name,
            b.birth,
            b.profile_image,
            b.introduction,
            b.revenue,
            b.point,
            b.role,
            b.state,
            b.is_certificated,
            b.is_subscriber_visible,
            b.create_date,
            b.update_date,
            b.delete_date,
            b.suspension_end_date
        FROM
            comment a
        JOIN
            user b ON (a.user_code=b.code)
        WHERE
            a.post_code=#{code}
    </select>
</mapper>

