<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 형식 올바르게 수정 후 사용하세요. -->
<mapper namespace="com.pentoryall.genreOfArt.mapper.GenreOfArtMapper">
<insert id="insertGenreOfArt">
    INSERT INTO
    genre_of_art(genre_code,series_code,post_code,kind)
    VALUES
        (#{genreCode},#{seriesCode},#{postCode},#{kind})
</insert>

    <insert id="insertSeriesGenre">
        INSERT INTO
            genre_of_art(genre_code,series_code,kind)
        VALUES
            (#{genreCode},#{seriesCode},#{kind})
    </insert>

    <select id="getGenre" resultType="com.pentoryall.genreOfArt.dto.GenreOfArtDTO">
        SELECT
            code,
            genre_code,
            series_code,
            post_code,
            kind
        FROM
            genre_of_art
        WHERE
            series_code = #{seriesCode} AND genre_code IN (SELECT code FROM genre WHERE ref_genre_code IS NULL) AND kind="SERIES";
    </select>
    <select id="getLowerGenre" resultType="com.pentoryall.genreOfArt.dto.GenreOfArtDTO">
        SELECT
            code,
            genre_code,
            series_code,
            post_code,
            kind
        FROM
            genre_of_art
        WHERE
            series_code = #{seriesCode} AND genre_code IN (SELECT code FROM genre WHERE ref_genre_code IS NOT NULL)
    </select>
    <select id="findGenreBySeriesCode" resultType="com.pentoryall.genreOfArt.dto.GenreOfArtDTO">
        SELECT
            code,
            genre_code,
            series_code,
            post_code,
            kind
        FROM
            genre_of_art
        WHERE
            series_code = #{seriesCode}
    </select>
    <delete id="deleteSeriesGenreBySeriesCode">
        DELETE
        FROM genre_of_art
        WHERE series_code=#{code}
    </delete>
    <insert id="insertGenreBySeriesCode">
        INSERT INTO
        genre_of_art(genre_code,series_code,kind)
        VALUES
            (#{genreCode},#{code},"SERIES")
    </insert>
    <select id="findGenreBySeriesCodeSeries">
        SELECT
            code,
            genre_code,
            series_code,
            post_code,
            kind
        FROM
            genre_of_art
        WHERE
            series_code = #{code} AND kind="SERIES";
    </select>
    <select id="findGenreBySeriesCode" resultType="com.pentoryall.genreOfArt.dto.GenreOfArtDTO">
        SELECT
            code,
            genre_code,
            series_code,
            post_code,
            kind
        FROM
            genre_of_art
        WHERE
            series_code = #{seriesCode}
    </select>
    <delete id="deleteSeriesGenreBySeriesCode">
        DELETE
        FROM genre_of_art
        WHERE series_code=#{code}
    </delete>
    <insert id="insertGenreBySeriesCode">
        INSERT INTO
        genre_of_art(genre_code,series_code,kind)
        VALUES
            (#{genreCode},#{code},"SERIES")
    </insert>
</mapper>
