<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pentoryall.admin.mapper.GenreManageMapper">

    <select id="selectFirstGenreList" resultType="com.pentoryall.admin.dto.GenreManageDTO">
        SELECT code, name
          FROM genre
         WHERE ref_genre_code IS NULL

    </select>

    <select id="selectSecondGenreList" resultType="com.pentoryall.admin.dto.GenreManageDTO">
        SELECT code, name
          FROM genre
         WHERE ref_genre_code IN (1)
    </select>

    <insert id="addFirstGenre" parameterType="String">
        INSERT INTO genre (name)
        VALUES (#{name})
    </insert>

    <insert id="addSecondGenre" parameterType="String">
        INSERT INTO genre (name, ref_genre_code)
        VALUES (#{name}, 1),
               (#{name}, 2),
               (#{name}, 3);
    </insert>

    <delete id="deleteSecondGenre" parameterType="String">
        DELETE
          FROM genre
         WHERE name = #{name};
    </delete>

    <update id="updateGenre" parameterType="com.pentoryall.admin.dto.GenreManageDTO">
        UPDATE genre
           SET name = #{name}
         WHERE code = #{code}
    </update>
</mapper>

