<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pentoryall.membership.mapper.MembershipMapper">

    <insert id="createMembership" parameterType="com.pentoryall.membership.dto.MembershipDTO"
            useGeneratedKeys="true" keyProperty="code">
        INSERT INTO membership
        (user_code,
         name,
         introduction,
         price,
         color)
        VALUES (#{userCode},
                #{name},
                #{introduction},
                #{price},
                #{color})
    </insert>
    <select id="selectMembershipByUserCode" resultType="com.pentoryall.membership.dto.MembershipDTO">
        SELECT code,
               user_code,
               name,
               introduction,
               price,
               color,
               is_active,
               is_deleted,
               create_date,
               update_date,
               delete_date
        FROM membership
        WHERE membership.user_code = #{userCode}
          AND is_deleted = 'N'
    </select>

    <update id="modifyMembership" parameterType="com.pentoryall.membership.dto.MembershipDTO">
        UPDATE membership
        SET name         = #{name},
            introduction = #{introduction},
            color        = #{color}
        WHERE user_code = #{userCode}
    </update>

    <update id="updateIsDeleted" parameterType="java.lang.Long">
        UPDATE membership
        SET is_deleted  = 'Y',
            delete_date = NOW()
        WHERE code = #{code}
    </update>

    <insert id="joinMembership" parameterType="com.pentoryall.membership.dto.MembershipJoinDTO">
        INSERT INTO membership_join
            (membership_code, user_code, create_date, end_date)

        VALUES (#{membershipCode},
                #{userCode},
                #{createDate},
                #{endDate})
    </insert>
    <select id="selectMembershipJoinList" resultType="com.pentoryall.membership.dto.MembershipJoinDTO">
        SELECT m.name, mj.create_date, m.price
        FROM membership m
                 INNER JOIN membership_join mj ON m.code = mj.membership_code
        WHERE mj.user_code = #{userCode}
    </select>
    <select id="selectJoinMemberList" resultType="com.pentoryall.membership.dto.MembershipJoinDTO">
        SELECT u.nickname, m.create_date
        FROM membership_join mj
                 JOIN user u ON u.code = mj.user_code
                 JOIN membership m ON m.code = mj.membership_code
        WHERE mj.membership_code = #{membershipCode}
    </select>

    <!--    <select id="selectMembershipByUserProfile" resultType="com.pentoryall.membership.dto.MembershipDTO">-->
    <!--        SELECT m.code,-->
    <!--               m.user_code,-->
    <!--               m.name,-->
    <!--               m.introduction,-->
    <!--               m.price,-->
    <!--               m.color,-->
    <!--               m.is_active,-->
    <!--               m.is_deleted,-->
    <!--               m.create_date,-->
    <!--               m.update_date,-->
    <!--               m.delete_date,-->
    <!--               (SELECT nickname FROM user WHERE code = #{subscribeUserCode}) as nickname-->
    <!--        FROM membership m-->
    <!--        WHERE m.user_code = #{subscribeUserCode} &#45;&#45; 현재 로그인한 사용자의 구독 정보와 관련된 멤버십 정보를 가져오기 위해 조건 변경-->
    <!--          AND m.is_deleted = 'N';-->
    <!--    </select>-->


</mapper>
