<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pentoryall.membership.mapper.MembershipMapper">

    <insert id="createMembership" parameterType="com.pentoryall.membership.dto.MembershipDTO">
        INSERT INTO membership
        (
         user_code,
         name,
         introduction,
         price,
         color
)
        VALUES (
                #{userCode},
                #{ name },
                #{ introduction },
                #{ price },
                #{ color })
    </insert>
    <select id="getAllMemberships" resultType="com.pentoryall.membership.dto.MembershipDTO">
        SELECT name,
               introduction,
               price,
               color
        FROM membership
    </select>
</mapper>
