<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pentoryall.admin.mapper.ModifyPostMapper">
    <select id="selectAllModifyList" resultType="com.pentoryall.admin.DTO.ModifyPostDTO">
        select p.code,
               p.user_code,
               u.user_id,
               u.nickname,
               p.title,
               p.confirm_content,
               p.price,
               p.is_confirmed
        from post p
                 Join user u ON p.user_code = u.code
        WHERE confirm_content IS NOT NULL;
    </select>

    <select id="selectTotalCount" resultType="_int">
        SELECT COUNT(*)
        FROM report
    </select>

    <update id="modifyByPostCode">
        UPDATE
            post
        SET is_confirmed = 'Y'
        WHERE is_confirmed = 'N'
          AND code = #{postCode}
    </update>


</mapper>

