<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pentoryall.admin.mapper.ModifyPostMapper">
    <select id="selectAllModifyList" resultType="com.pentoryall.post.dto.PostDTO">
        SELECT
            code,
            user_code,
            title,
            confirm_content,
            price,
            create_date
        FROM
            post
        WHERE
            confirm_content IS NOT NULL;
    </select>

    <select id="selectTotalCount" resultType="_int">
        SELECT
            COUNT(*)
        FROM
            report
    </select>
    
    <update id="modifyByPostCode">
        UPDATE
            post
        SET is_confirmed = 'Y'
        WHERE is_confirmed = 'N'
          AND code = #{postCode}
    </update>


</mapper>

