<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pentoryall.point.mapper.PaymentMapper">

    <insert id="insertPayment" parameterType="com.pentoryall.point.dto.PaymentDTO" useGeneratedKeys="true"
            keyProperty="code">
        INSERT INTO payment(order_code, imp_uid)
        VALUES (#{orderCode}, #{impUid});
    </insert>
</mapper>

