<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 형식 올바르게 수정 후 사용하세요. -->
<mapper namespace="com.pentoryall.post.mapper.PostMapper">
    <insert id="insertPost">
        INSERT INTO
            post(series_code,user_code,title,content,thumbnail_image,price,is_paid,is_adult,is_public)
        VALUES
            (#{seriesCode},#{userCode},#{title},#{content},#{thumbnailImage},#{price},#{isPaid},#{isAdult},#{isPublic})
    </insert>
    <select id="getPostInformationByPostCode" resultType="com.pentoryall.post.dto.PostDTO">
        SELECT
            code,
            series_code,
            user_code,
            title,
            content,
            confirm_content,
            thumbnail_image,
            views,
            price,
            is_paid,
            is_adult,
            is_public,
            is_deleted,
            create_date,
            update_date
        FROM
            post
        WHERE
            code=#{code} AND is_deleted='Y';
    </select>

    <select id="selectPostsBySeriesCode">
        SELECT
            code,
            series_code,
            user_code,
            title,
            content,
            confirm_content,
            thumbnail_image,
            views,
            price,
            is_paid,
            is_adult,
            is_public,
            is_deleted,
            create_date,
            update_date
        FROM
            post
        WHERE
            series_code=#{code} AND is_deleted='Y';
    </select>
    <update id="updatePostService">
        UPDATE
            post
        SET
            series_code=#{seriesCode},
            title=#{title},
            content=#{content},
            thumbnail_image=#{thumbnailImage},
            price=#{price},
            is_paid=#{isPaid},
            is_adult=#{isAdult},
            is_public=#{isPublic}
        WHERE
            code=#{code} AND is_deleted='Y';
    </update>
    <update id="deletePostByPostCode">
        UPDATE
            post
        SET
            is_deleted = 'N'
        WHERE
        WHERE code = #{code}
    </update>
    <delete id="deleteSeriesBySeriesCode">
        DELETE
        FROM post
        WHERE series_code = #{code}
    </delete>
<select id="selectPostList">
    SELECT
        code,
        series_code,
        user_code,
        title,
        content,
        confirm_content,
        thumbnail_image,
        views,
        price,
        is_paid,
        is_adult,
        is_public,
        is_deleted,
        create_date,
        update_date
    FROM
        post AND is_deleted='Y';
</select>
    <select id="getSeriesListByWord">
        SELECT
            code,
            series_code,
            user_code,
            title,
            content,
            confirm_content,
            thumbnail_image,
            views,
            price,
            is_paid,
            is_adult,
            is_public,
            is_deleted,
            create_date,
            update_date
        FROM
            post
        WHERE
            title LIKE CONCAT('%', #{word}, '%') AND is_deleted='Y';
    </select>
    <select id="selectPostByUserCode">
        SELECT
            code,
            series_code,
            user_code,
            title,
            content,
            confirm_content,
            thumbnail_image,
            views,
            price,
            is_paid,
            is_adult,
            is_public,
            is_deleted,
            create_date,
            update_date
        FROM
            post
        WHERE
            user_code=#{userCode} AND is_deleted='Y';
    </select>
    <insert id="addComment">
        INSERT INTO comment(post_code,content,user_code)
        VALUES (#{postCode},#{content},#{user.code})
    </insert>
    <select id="getLatestPost">
        SELECT
            code,
            series_code,
            user_code,
            title,
            content,
            confirm_content,
            thumbnail_image,
            views,
            price,
            is_paid,
            is_adult,
            is_public,
            is_deleted,
            create_date,
            update_date
        FROM
            post
        WHERE
            is_deleted='Y';
        ORDER BY
            code DESC
        LIMIT 1
    </select>
    <update id="updateViews">
        UPDATE
            post
        SET
            views = views + 1
        WHERE
            code = #{code} AND is_deleted='Y';
    </update>
    <select id="selectPostByUser">
        SELECT
            code,
            series_code,
            user_code,
            title,
            content,
            confirm_content,
            thumbnail_image,
            views,
            price,
            is_paid,
            is_adult,
            is_public,
            is_deleted,
            create_date,
            update_date
        FROM
            post
        WHERE
            is_deleted='Y' AND user_code=#{code}
        ORDER BY
            create_date DESC
        LIMIT
        1;
    </select>
</mapper>