<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 형식 올바르게 수정 후 사용하세요. -->
<mapper namespace="com.pentoryall.series.mapper.SeriesMapper">
    <select id="selectSeriesByTitle" resultType="com.pentoryall.series.dto.SeriesDTO">
        SELECT
            code,
            user_code,
            title,
            description,
            thumbnail_image,
            is_membership_only,
            is_deleted,
            create_date,
            update_date
        FROM
            series
        WHERE
            code=#{seriesno}
    </select>


    <select id="getSeriesInformationBySeriesCode" resultType="com.pentoryall.series.dto.SeriesDTO">
        SELECT
            code,
            user_code,
            title,
            description,
            thumbnail_image,
            is_membership_only,
            is_deleted,
            create_date,
            update_date
        FROM
            series
        WHERE
            code=#{seriesCode}
    </select>

    <select id="getSeriesList">
        SELECT
            code,
            user_code,
            title,
            description,
            thumbnail_image,
            is_membership_only,
            is_deleted,
            create_date,
            update_date
        FROM
            series
        WHERE
            user_code=#{code};
    </select>

    <insert id="addSeriesOptions">
        <selectKey keyProperty="code" order="BEFORE" resultType="_long">
            SELECT max(code) from series
        </selectKey>
        INSERT INTO
        series(
        user_code,
        title,
        description,
        thumbnail_image,
        is_membership_only)
        VALUES
            (
             #{userCode},
             #{title},
             #{description},
             #{thumbnailImage},
             #{isMembershipOnly}
            )
    </insert>
    <select id="findSeriesByCode" resultType="com.pentoryall.series.dto.SeriesDTO">
        SELECT
            code,
            user_code,
            title,
            description,
            thumbnail_image,
            is_membership_only,
            is_deleted,
            create_date,
            update_date
        FROM
            series
        WHERE
            code=#{code}
    </select>
    <select id="selectGenreList"  resultType="com.pentoryall.series.dto.SeriesDTO">
        SELECT
            code,
            user_code,
            title,
            description,
            thumbnail_image,
            is_membership_only,
            is_deleted,
            create_date,
            update_date
        FROM
            series
        WHERE
            code=#{code}
    </select>
    <select id="selectRecentSeriesCode">
        SELECT
            code,
            user_code,
            title,
            description,
            thumbnail_image,
            is_membership_only,
            is_deleted,
            create_date,
            update_date
        FROM
            series
        ORDER BY create_date DESC
        LIMIT 1;
    </select>
    <update id="updateSeries">
        UPDATE
        series
        SET
            title=#{seriesDTO.title},
            description = #{seriesDTO.description},
            thumbnail_image = #{seriesDTO.thumbnailImage},
            is_membership_only = #{seriesDTO.isMembershipOnly}
        WHERE
            code=#{code}
    </update>
    <delete id="deleteSeries">
        DELETE
        FROM
            series
        WHERE
            code=#{code}
    </delete>
    <select id="selectSeriesList">
        SELECT
            code,
            user_code,
            title,
            description,
            thumbnail_image,
            is_membership_only,
            is_deleted,
            create_date,
            update_date
        FROM
            series
        WHERE
            code != 1
    </select>
<select id="getSeriesListByWord">
    SELECT
        code,
        user_code,
        title,
        description,
        thumbnail_image,
        is_membership_only,
        is_deleted,
        create_date,
        update_date
    FROM
        series
    WHERE
        title LIKE CONCAT('%', #{word}, '%')
</select>
    <select id="selectSeriesByUserCode">
        SELECT
            code,
            user_code,
            title,
            description,
            thumbnail_image,
            is_membership_only,
            is_deleted,
            create_date,
            update_date
        FROM
            series
        WHERE
            user_code=#{code}
    </select>
<select id="selectAllSeries">
    SELECT
        code,
        user_code,
        title,
        description,
        thumbnail_image,
        is_membership_only,
        is_deleted,
        create_date,
        update_date
    FROM
        series
</select>
</mapper>