<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pentoryall.settlement.mapper.SettlementMapper">
    <!-- SELECT -->
    <select id="selectTotalSettlementCountByUserCode" resultType="java.lang.Integer">
        SELECT COUNT(s.code)
          FROM `settlement` s
                   JOIN ( SELECT t1.code
                            FROM `user_settlement` t1
                                     JOIN `user` t2 ON t1.user_code = t2.code
                           WHERE t1.user_code = #{ userCode } ) u ON s.user_settlement_code = u.code

    </select>
    <select id="selectTotalRevenueCountByUserCode" resultType="java.lang.Integer">
        SELECT COUNT(code)
          FROM `transaction`
         WHERE user_code = #{ userCode }
    </select>
    <select id="selectSettlementsByUserCode" resultType="com.pentoryall.settlement.dto.SettlementDTO">
        SELECT s.code,
               s.user_settlement_code,
               s.request_amount,
               s.actual_amount,
               s.state,
               s.cause,
               s.create_date,
               s.process_date
          FROM `settlement` s
                   JOIN ( SELECT t1.code
                            FROM `user_settlement` t1
                                     JOIN `user` t2 ON t1.user_code = t2.code
                           WHERE t1.user_code = #{ userCode } ) u ON s.user_settlement_code = u.code
         ORDER BY create_date DESC
         LIMIT #{offset}, #{limit}
    </select>
    <select id="selectRevenuesByUserCode" resultType="com.pentoryall.settlement.dto.UserRevenueDTO">
        SELECT t.user_code        buyerCode,
               t.seller_user_code sellerCode,
               t.code             transaction_code,
               p.code             post_code,
               p.title            post_title,
               m.code             membership_code,
               m.name             membership_name,
               t.type,
               t.point            point,
               t.create_date
          FROM `transaction` t
                   LEFT JOIN `post` p ON p.code = t.post_code
                   LEFT JOIN `membership` m ON m.code = t.membership_code
         WHERE t.seller_user_code = #{ userCode }
         ORDER BY create_date DESC
         LIMIT #{offset}, #{limit}
    </select>
</mapper>

