<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pentoryall.settlement.mapper.SettlementMapper">
    <!-- SELECT -->
    <select id="selectTotalSettlementCountByUserCode" resultType="java.lang.Integer">
        SELECT COUNT(s.code)
          FROM `settlement` s
                   JOIN ( SELECT t1.code
                            FROM `user_settlement` t1
                                     JOIN `user` t2 ON t1.user_code = t2.code
                           WHERE t1.user_code = #{ userCode } ) u ON s.user_settlement_code = u.code
    </select>
    <select id="selectSettlementsByUserCode" resultType="com.pentoryall.settlement.dto.SettlementDTO">
        SELECT s.code,
               s.user_settlement_code,
               s.request_amount,
               s.actual_amount,
               s.state,
               s.cause,
               s.create_date,
               s.process_date
          FROM `settlement` s
                   JOIN ( SELECT t1.code
                            FROM `user_settlement` t1
                                     JOIN `user` t2 ON t1.user_code = t2.code
                           WHERE t1.user_code = #{ userCode } ) u ON s.user_settlement_code = u.code
         ORDER BY create_date DESC
         LIMIT #{offset}, #{limit}
    </select>

    <!-- INSERT -->
    <insert id="insertSettlementRequest" useGeneratedKeys="true" keyProperty="code" parameterType="com.pentoryall.settlement.dto.SettlementDTO">
        INSERT INTO `settlement` (user_settlement_code, request_amount, actual_amount)
        VALUES (#{userSettlementCode}, #{requestAmount}, #{actualAmount})
    </insert>
</mapper>

