<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pentoryall.membership.userProfile.mapper.UserProfileMapper">


    <select id="selectMembershipByUserId" resultType="com.pentoryall.membership.dto.MembershipDTO">
        SELECT m.code,
               m.user_code,
               m.name,
               m.introduction,
               m.price,
               m.color,
               m.is_active,
               m.is_deleted,
               m.create_date,
               m.update_date,
               m.delete_date,
               u.nickname
        FROM membership m
                 JOIN user u ON m.user_code = u.code

        WHERE u.user_id = #{userId} -- 현재 로그인한 사용자의 구독 정보와 관련된 멤버십 정보를 가져오기 위해 조건 변경
          AND m.is_deleted = 'N';
    </select>

    <select id="getUserSubscriberListByUserId" resultType="com.pentoryall.subscribe.dto.SubscribeDTO">
        SELECT s.code,
               s.user_code,
               s.subscribe_user_code,
               s.subscribe_date,
               u.nickname,
               u.introduction
        FROM subscribe s
                 JOIN user u
                      ON u.code = s.user_code
        WHERE s.user_code = #{userCode}
          AND u.is_subscriber_visible = 'Y';
    </select>

</mapper>
