<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pentoryall.admin.mappers.UserManageMapper">
    <select id="selectAllUserList" resultType="com.pentoryall.admin.dtos.UserManageDTO">
        SELECT
        code,
        email,
        user_id,
        nickname,
        name,
        birth,
        state

        FROM user

        <where>
            <!-- 단어 포함 검색 -->
            <if test="searchCondition == 'name'">
                name LIKE CONCAT('%', #{searchValue}, '%')
            </if>
            <if test="searchCondition == 'id'">
                user_id LIKE CONCAT('%', #{searchValue}, '%')
            </if>
            <if test="searchCondition == 'nickname'">
                nickname LIKE CONCAT('%', #{searchValue}, '%')
            </if>
        </where>

        LIMIT #{offset}, #{limit}

    </select>
    <select id="selectTotalCount" resultType="_int">
        SELECT COUNT(*)
        FROM user
    </select>


</mapper>

