<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 형식 올바르게 수정 후 사용하세요. -->
<mapper namespace="com.pentoryall.user.mapper.UserMapper">
    <select id="getUserInformationByPostCode" resultType="com.pentoryall.user.dto.UserDTO">
        SELECT code,
               email,
               user_id,
               password,
               nickname,
               name,
               birth,
               profile_image,
               introduction,
               revenue,
               point,
               role,
               state,
               is_certificated,
               is_subscriber_visible,
               create_date,
               update_date,
               delete_date,
               suspension_end_date
        FROM user
        WHERE code = #{userCode}
    </select>

</mapper>
