<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/story}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/story.css}" href="/css/story.css"/>
</th:block>

<th:block layout:fragment="content">
    <div class="story-content">
        <div class="inner">
            <section class="section">
                <div id="membership-created">
                    <section class="section" sec:authorize="isAuthenticated()">

                        <h2 class="h2"><span class="username" sec:authentication="principal.name"></span>
                            님의 창작 활동을 정기적으로 응원해 주세요</h2>

                        <p>멤버십 플랜에 가입하여 일정 금액을 크리에이터에게 후원할 수 있습니다.<br>
                            멤버만 볼 수 있는 멤버십 혜택 포스트도 놓치지 마세요.<br>
                            단, 멤버십 후원은 콘텐츠 구매와 다르며,<br>
                            멤버십 혜택 콘텐츠 제공이 보장되지 않는 점 참고해 주시기 바랍니다. </p>

                        <div th:if="${userMembership != null}">
                            <ul>
                                <li th:each="userMembership : ${membership}">
                                    <p th:text="${membership.name}"></p>
                                    <p th:text="${membership.price}"></p>
                                    <p>/월</p>
                                    <p th:text="${membership.introduction}"></p>
                                    <p th:text="${membership.color}"></p>
                                </li>
                            </ul>
                            <div>
                                <button type="button" onclick="location.href='/#'">멤버십 가입</button>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script"></th:block>
</html>
