<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/point.css}" href="/css/point.css"/>
</th:block>

<th:block layout:fragment="content">
    <div class="sub-content">
        <div class="inner">
            <section class="section section-point">
                <h2 class="h2 h2-complete">
                    <i class="bi bi-check2-square is-active"></i>
                    <span>포인트 충전이<br> 완료되었습니다.</span>
                </h2>

                <div class="box box-desc-list">
                    <dl class="desc-list">
                        <dt class="desc-list-dt">주문번호</dt>
                        <dd class="desc-list-dd" th:text="${orderCode}"></dd>

                        <dt class="desc-list-dt">결제일시</dt>
                        <dd class="desc-list-dd" th:text="${paidAt}"></dd>

                        <dt class="desc-list-dt">충전 금액</dt>
                        <dd class="desc-list-dd">
                            <span th:text="|${#numbers.formatInteger(paidAmount, 3, 'COMMA')}원 |"></span>
                            <span th:text="|(${ #numbers.formatInteger(paidPoint, 3, 'COMMA')}P)|"></span>
                        </dd>
                        <dt class="desc-list-dt border-top">보유 포인트</dt>
                        <dd class="desc-list-dd border-top" th:text="|${#authentication.principal.point > 0 ? #numbers.formatInteger(#authentication.principal.point, 3, 'COMMA') : 0}P|"></dd>
                    </dl>
                </div>
                <div class="box-bottom">
                    <a th:href="@{/}" class="button dark">메인으로</a>
                </div>
            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script"></th:block>
</html>
