<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/sub.css}" href="/css/sub.css"/>
    <link rel="stylesheet" th:href="@{/css/point.css}" href="/css/point.css"/>
</th:block>

<th:block layout:fragment="content">
    <div class="sub-content">
        <div class="inner">
            <section class="section section-order">
                <h2 class="h2">포인트 충전 내역</h2>

                <div class="summary-wrap">
                    <dl class="summary-list">
                        <dt class="title">현재 잔액</dt>
                        <dd class="desc">100,000</dd>
                    </dl>
                </div>

                <div class="search-option">
                    <div class="form-item">
                        <select class="select">
                            <option value="">전체</option>
                            <option value="">2024.03</option>
                            <option value="">2024.02</option>
                        </select>
                    </div>
                </div>

                <div class="table-box">
                    <table class="table">
                        <!-- <colgroup>
                            <col width="20%" />
                            <col width="20%" />
                            <col width="auto" />
                            <col width="20%" />
                        </colgroup> -->
                        <thead>
                        <th>날짜</th>
                        <th>충전 포인트</th>
                        <th>충전 금액</th>
                        <th>결제 방법</th>
                        <!-- <th>영수증 조회</th> -->
                        </thead>
                        <tbody>
                        <tr>
                            <td>2024.03.19</td>
                            <td>50,000P</td>
                            <td>50,000원</td>
                            <td>간편결제</td>
                            <!-- <th>버튼</th> -->
                        </tr>
                        <tr>
                            <td>2024.03.19</td>
                            <td>50,000P</td>
                            <td>50,000원</td>
                            <td>간편결제</td>
                            <!-- <th>버튼</th> -->
                        </tr>
                        <tr>
                            <td>2024.03.19</td>
                            <td>50,000P</td>
                            <td>50,000원</td>
                            <td>간편결제</td>
                            <!-- <th>버튼</th> -->
                        </tr>
                        <tr>
                            <td>2024.03.19</td>
                            <td>50,000P</td>
                            <td>50,000원</td>
                            <td>간편결제</td>
                            <!-- <th>버튼</th> -->
                        </tr>
                        <tr>
                            <td>2024.03.19</td>
                            <td>50,000P</td>
                            <td>50,000원</td>
                            <td>간편결제</td>
                            <!-- <th>버튼</th> -->
                        </tr>
                        <tr>
                            <td>2024.03.19</td>
                            <td>50,000P</td>
                            <td>50,000원</td>
                            <td>간편결제</td>
                            <!-- <th>버튼</th> -->
                        </tr>
                        <tr>
                            <td>2024.03.19</td>
                            <td>50,000P</td>
                            <td>50,000원</td>
                            <td>간편결제</td>
                            <!-- <th>버튼</th> -->
                        </tr>
                        <tr>
                            <td>2024.03.19</td>
                            <td>50,000P</td>
                            <td>50,000원</td>
                            <td>간편결제</td>
                            <!-- <th>버튼</th> -->
                        </tr>
                        <tr>
                            <td>2024.03.19</td>
                            <td>50,000P</td>
                            <td>50,000원</td>
                            <td>간편결제</td>
                            <!-- <th>버튼</th> -->
                        </tr>
                        <tr>
                            <td>2024.03.19</td>
                            <td>50,000P</td>
                            <td>50,000원</td>
                            <td>간편결제</td>
                            <!-- <th>버튼</th> -->
                        </tr>
                        </tbody>
                    </table>
                </div>

                <nav class="pagination">
                    <button class="page-btn page-prev-btn">
                        <i class="bi bi-chevron-left"></i>
                        <span class="blind">Prev</span>
                    </button>
                    <ul class="page-items">
                        <li class="page-item"></li>
                        <li class="page-item active"><a class="page-btn" href="#">1</a></li>
                        <li class="page-item"><a class="page-btn" href="#">2</a></li>
                        <li class="page-item"><a class="page-btn" href="#">3</a></li>
                        <li class="page-item"><a class="page-btn" href="#">4</a></li>
                        <li class="page-item"><a class="page-btn" href="#">5</a></li>
                        <li class="page-item"></li>
                    </ul>
                    <button class="page-btn page-next-btn">
                        <i class="bi bi-chevron-right"></i>
                        <span class="blind">Next</span>
                    </button>
                </nav>
            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
</th:block>
</html>
