<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/point.css}" href="/css/point.css" />
</th:block>

<th:block layout:fragment="content">
    <div class="sub-content tab-content">
        <div class="inner">

              <div class="tab-menu">
                <ul class="tab-menu-list">
                    <li class="tab-menu-item">
                        <a th:href="@{/point/order/list}" class="tab-button">충전 내역</a>
                    </li>
                    <li class="tab-menu-item active">
                        <a th:href="@{/point/purchase/list}" class="tab-button">사용 내역</a>
                    </li>
                </ul>
            </div>

            <section class="section section-point">
                <h2 class="h2">포인트 사용 내역</h2>

                <div class="summary-wrap">
                    <dl class="desc-list">
                        <dt class="desc-list-dt">현재 잔액</dt>
                        <dd class="desc-list-dd" th:text="|${#authentication.principal.point > 0 ? #numbers.formatInteger(#authentication.principal.point, 3, 'COMMA') : 0}P|"></dd>
                    </dl>
                </div>

                <!--                <div class="search-option">-->
                <!--                    <div class="form-item">-->
                <!--                        <form action="">-->
                <!--                            <select class="select">-->
                <!--                                <option value="">전체</option>-->
                <!--                                <option value="">2024.03</option>-->
                <!--                                <option value="">2024.02</option>-->
                <!--                            </select>-->
                <!--                        </form>-->
                <!--                    </div>-->
                <!--                </div>-->

                <div class="table-box">
                    <form action="">
                        <table class="table">
                            <thead>
                                <th>분류</th>
                                <th>내용</th>
                                <th>포인트</th>
                                <th>날짜</th>
                            </thead>
                            <tbody>
                                <tr th:if="${purchaseList == null || purchaseList.size() == 0}">
                                    <td colspan="4">포인트 사용 내역이 없습니다.</td>
                                </tr>
                                <th:block th:unless="${purchaseList == null || purchaseList.size() == 0}" th:each="purchase : ${purchaseList}">
                                    <tr>
                                        <td th:text="${#strings.equals(purchase.type, 'POST') ? '포스트' : '멤버십'}"></td>
                                        <th:block>
                                            <td th:if="${purchase.postTitle} != null" th:text="${purchase.postTitle}"></td>
                                            <td th:if="${purchase.membershipName} != null" th:text="${purchase.membershipName}"></td>
                                        </th:block>
                                        <td th:text="|${purchase.point > 0 ? #numbers.formatInteger(purchase.point, 3, 'COMMA') : 0}P|"></td>
                                        <td th:text="${#temporals.format(purchase.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

                <th:block th:replace="~{/fragments/common/pagination :: pagination('/point/order/list')}"></th:block>
            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script"></th:block>
</html>
