<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/sub.css}" href="/css/sub.css"/>
    <!-- 여기에 연결할 외부 CSS 링크를 지정 -->
    <!-- 생성한 CSS 파일은 `/resources/static/css` 에 넣어주세요. -->
    <link rel="stylesheet" th:href="@{/css/post.css}" href="/css/post.css"/>
</th:block>

<th:block layout:fragment="content">
    <div class="sub-content">
        <div class="inner">
            <section class="section">
                <div class="fixed-header">
                    <div class="p-series-title">
                        <h1 th:text="|${series.title}|"></h1>
                    </div>
                    <div class="post-title">
                        <p th:text="|${post.code}화 ${post.title}|"></p>
                    </div>
                    <div class="series-author">
                  <span class="series-author-information">
                    <div class="series-author-information-detail-header">
                      <img class="series-author-information-detail-image" src="/images/temp/author.png"/>
                      <div class="series-author-information-detail-name">
                        <h2 th:text="${user.nickname}">232</h2>
                      </div>
                        <input id="login-user" th:value="${loginUser}" hidden/>
                        <input id="post-code" th:value="${post.code}" hidden/>
                        <input id="isLiked" th:value="${isLiked}" hidden/>
                        <button class="post-information-like">
                            <p class="post-information-like-content">
                           ♡ 222
                            </p>
                          </button>
                        <div class="post-information-log">
                              <p class="post-information-log-content">조회: 34회</p>
                          </div>
                    </div>
                  </span>
                    </div>
                </div>
                <!--메인 컨텐츠-->
                <div class="main-content">
                    <button class="previous-post"><</button>
                    <!--메인 컨텐츠 시작-->
                    <div th:utext="${post.content}">

                    </div>
                    <!--메인 컨텐츠 끝-->
                    <button class="after-post">></button>
                </div>

                <!--좋아요,작가구독,신고하기 버튼-->
                <div class="post-buttons">
                    <button class="likeBtn post-like-button post-button">
                        <th:block th:if="${like} != null">
                        ♥️<br/>
                        </th:block>
                        좋아요
                    </button>
                    <button class="post-subscribe-button post-button">
                        +<br/>
                        작가 구독
                    </button>
                    <button class="post-report post-button">
                        ⚠️<br/>
                        신고하기
                    </button>
                </div>

                <hr/>

                <!--페이징 처리해서 모든 회차 볼 수 있도록-->

                <div class="under-navigatorbar-post">
                    <div class="under-navigatorbar-contents">
                        <div>
                            <p class="go-navigator"><</p>
                        </div>
                        <!--회차들의 썸네일들-->
                        <div class="posts-wrapper">
                            <div>
                                <img src="/images/temp/thumbnail.png" class="posts-thumbnails"/>
                                <p class="posts-number">56화</p>
                            </div>
                            <div>
                                <img src="/images/temp/thumbnail.png" class="posts-thumbnails"/>
                                <p class="posts-number">57화</p>
                            </div>
                            <div>
                                <img src="/images/temp/thumbnail.png" class="posts-thumbnails"/>
                                <p class="posts-number">58화</p>
                            </div>
                            <div>
                                <img src="/images/temp/thumbnail.png" class="posts-thumbnails"/>
                                <p class="posts-number">59화</p>
                            </div>
                        </div>
                        <div><p class="go-navigator">></p></div>
                    </div>
                </div>
                <!--댓글-->
                <div>
                    <div>
                        <h2 class="p-post-comment">댓글 작성</h2>
                    </div>
                    <div class="comment-add">
                            <textarea onchange="test()" id="comment-writing-area" class="comment-writing-area" placeholder="댓글을 입력해주세요. 최대 500자" maxlength="500"></textarea>
                            <button id="comment-add-btn" class="comment-add-btn" onmouseover="test2()">작성하기</button>
                    </div>
                </div>
                <div class="comment-wrapper">
                    <h2 class="p-post-comment">전체 댓글</h2>
                </div>

                <!--댓글 출력-->
                <div class="comment-area">
                    <div class="comment-content-area"   th:each="comment : ${commentList}" th:value="${comment.code}">
                        <p class="comment-writer-area" th:text="${comment.user.nickname}">작성자</p>
                        <p class="comment-content" th:text="${comment.content}"></p>
                        <p class="comment-date-area" th:text="${comment.createDate}">작성 날짜</p>
                        <div class="btn-wrapper" th:if="${comment.user.code == userCode}">
                            <button class="button" th:onclick="removeComment([[${comment.code}]])">댓글 삭제</button>
                            <button class="button" th:onclick="makeWritingTable([[${comment.code}]],[[${comment.content}]])">댓글 수정</button>
                            <input class="tem-cc" th:value="${comment.code}" hidden/>
                            <input class="tem-cp" th:value="${comment.postCode}" hidden/>
                        </div>
                        <div class="second-button">
                            <button class="button reply">답글</button>
                            <button class="button report-btn">댓글 신고</button>
                        </div>
                        <!--답글 출력-->
                        <div class="hidden-wrapper" hidden >
                            <div class="comment-area" id="comment-area-wrapper" >
                                <div class="comment-content-area reply-repeat" th:each="reply : ${replyList}" th:value="${reply.code}"  th:if="${reply.refCommentCode==comment.code}">

                                    <p class="comment-writer-area" th:text="|ㄴ${reply.user.nickname}|">작성자</p>
                                    <p class="comment-content" th:text="${reply.content}"></p>
                                    <p class="comment-date-area" id="writing-date" th:text="${reply.createDate}">작성 날짜</p>
                                    <div class="btn-wrapper" th:if="${reply.user.code == userCode}">
                                        <button class="button" th:onclick="removeComment([[${reply.code}]])">답글 삭제</button>
                                        <button class="button" th:onclick="makeWritingTable([[${reply.code}]],[[${reply.content}]])">답글 수정</button>
                                    </div>
                                    <div class="second-button" id="reply-report" hidden>
                                        <button class="button report-btn">답글 신고</button>
                                    </div>
                                </div>
                            </div>

                            <!--답글 작성-->
                            <div class="writing-reply" >
                                <div>
                                    <h2 class="p-post-comment">답글 작성</h2>
                                </div>
                                <div class="comment-add">
                                    <textarea class="comment-area" placeholder="답글을 입력해주세요. 최대 500자" maxlength="500"></textarea>
                                    <button  class="comment-btn" >작성하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">


        // function test(){
        //     const text = document.querySelector(".comment-writing-area");
        //     console.log(text.value);
        //     const postCode = '[[${post.code}]]'
        //     console.log("뽀스트넘버ㅣ"+postCode);
        //     const test1 = document.querySelector(".test1");
        //     console.log(test1);
        // }

        /*댓글 작성*/
        if(document.getElementById("comment-add-btn")){
            const $addComment = document.querySelector(".comment-add-btn");
            const $writeComment = document.querySelector(".comment-writing-area");

            $addComment.onclick=function() {
                if (!$writeComment.value.trim()) {
                    alert('내용을 작성해주세요');
                    return;
                }

                const postCode = '[[${post.code}]]'
                console.log("뽀스트넘버ㅣ"+postCode);
                const content = $writeComment.value;

                fetch('/post/addComment', {
                    method: 'POST',
                    headers: {
                        'Content-Type' : 'application/json; charset=UTF-8'
                    },
                    body : JSON.stringify({ postCode, content })
                })
                    .then(res => {
                        console.log("rress:"+res);
                        $writeComment.value = '';
                        loadComment();
                    })
                    .catch(error => console.log(error));
            }
        }

        // /*댓글 삽입 삭제 발생 시 최신 댓글을 다시 로드하는 기능*/
        function loadComment() {

        const postNo = `[[${post.code}]]`;

            fetch('/post/loadComment?postCode=' + postNo)
                .then(result => result.json())
                .then(data => {makeCommentTable(data)
                    console.log("데이터",data)})
                .catch(error => console.log(error));
        }

        /*댓글 목록 데이터를 테이블화 하는 함수*/
        function makeCommentTable(commentList){
            const commentArea = document.querySelector(".comment-area");
            commentArea.innerHTML='';
            commentList.forEach(comment => {
                const $comment = document.createElement("div");
                $comment.className = 'comment-content-area';
                const $content = document.createElement("p");
                $content.className = 'comment-content';
                const $nickname = document.createElement("p");
                $nickname.className = 'comment-writer-area';
                const $createdDate = document.createElement("p");
                $createdDate.className = 'comment-date-area';
                const $button = document.createElement("div");
                $button.className = 'btn-wrapper';

                $content.textContent = comment.content;
                $nickname.textContent = comment.user.nickname;
                $createdDate.textContent = comment.createDate;

                const $secondButtons = document.createElement("div");
                $secondButtons.className = 'second-button';
                $secondButtons.innerHTML = ` <div class="second-button">
                            <button class="button reply">답글</button>
                            <button class="button report-btn">댓글 신고</button>
                        </div>`;

                if(`[[${userCode}]]`==comment.user.code){
                    $button.innerHTML = `<button class="button" onclick='removeComment(${comment.code})'>댓글 삭제</button>
                                      <button class="button update-btn" onclick='makeWritingTable(${comment.code},"${comment.content}")'>댓글 수정</button>`;
                }

                $comment.append($nickname,$content,$createdDate,$button,$secondButtons);
                commentArea.append($comment);

            })
        }


        /*댓글 삭제*/
        function removeComment(code){
            fetch('/post/removeComment',{
                method:'POST',
                headers : {
                    'Content-Type' : 'application/json; charset=UTF-8'
                },
                body : JSON.stringify({code})
            }).then(() => loadComment())
                .catch(error => console.log(error));
        }

        // function removeReply(code){
        //     fetch('/post/removeReply',{
        //         method:'POST',
        //         headers:{
        //             'Content-Type' : 'application/json; charset=UTF-8'
        //         },
        //         body:JSON.stringify({code})
        //     }).then(() => loadReply())
        //         .catch(error => console.log(error));
        // }
        //
        // function loadReply(){
        //     const replyCode = document.querySelector(".reply-repeat");
        //
        //     const postNo = replyCode.value;
        //
        //     fetch('/post/loadReply?postCode=' + postNo)
        //         .then(result => result.json())
        //         .then(data => {makeCommentTable(data)
        //             console.log("데이터",data)})
        //         .catch(error => console.log(error));
        // }

        /*댓글 수정*/

        function updateComment(code){
            console.log(code);
            const $writingArea = document.querySelector(".comment-area >textarea");
            const content = $writingArea.value;
            console.log("콘텐츠",content);
            fetch('/post/updateComment',{
                method:'POST',
                headers : {
                    'Content-Type' : 'application/json; charset=UTF-8'
                },
                body : JSON.stringify({code,content})
            }).then(() =>  loadComment())
                .catch(error => console.log(error));
        }

        /*수정 페이지 출력*/
        // <div>
        //     <div>
        //         <h2 className="p-post-comment">댓글 작성</h2>
        //     </div>
        //     <div className="comment-add">
        //         <textarea onChange="test()" id="comment-writing-area" className="comment-writing-area"
        //                   placeholder="댓글을 입력해주세요. 최대 500자" maxLength="500"></textarea>
        //         <button id="comment-add-btn" className="comment-add-btn">작성하기</button>
        //     </div>
        // </div>
        function makeWritingTable(code, content) {
            const commentArea = document.querySelector(".comment-area");
            commentArea.innerHTML='';
            const $h2 = document.createElement("h2");
            const $writingArea = document.createElement("textarea");
            const $button = document.createElement("div");

            $writingArea.className = 'comment-writing-area';
            $writingArea.textContent = content;
            $h2.textContent = "댓글 수정하기";
            $h2.className = 'p-post-comment';

            $button.innerHTML = `<button class="button" onclick='updateComment(${code})'>댓글 수정</button>`;

            commentArea.append($h2,$writingArea,$button);

        }
    </script>
    <script>
        /*답글 로직*/
        function test2(){
            const input = document.querySelectorAll(".tem-input");
            input.forEach(el =>{
                console.log("답글 참조 코드",el.value);
            })
        }

        document.querySelector(".comment-area").addEventListener("click",(e) =>{
            console.log("ㅇ",e.target);
            console.log(e.target.className);
            if(e.target && e.target.classList.contains("reply")){
                const clickedButton = e.target;
                const hiddenWrapper = clickedButton.closest('.comment-content-area').querySelector('.hidden-wrapper');
                hiddenWrapper.hidden = !hiddenWrapper.hidden;
            }
        });

        document.querySelectorAll(".comment-btn").forEach(btn => {
            btn.addEventListener("click", (e) => {
                console.log("눌린 버튼 ", e.target);
                console.log("눌린 버튼의 클래스이름", e.target.className);
                if (e.target && e.target.classList.contains("comment-btn")) {
                    const $addComment = e.target;
                    const $writeComment = $addComment.closest('.writing-reply').querySelector('.comment-area');
                    if (!$writeComment.value.trim()) {
                        alert('내용을 작성해주세요');
                        return;
                    }

                    const refCommentCode = $addComment.closest('.comment-content-area').querySelector(".tem-cc").value;
                    const postCode = $addComment.closest('.comment-content-area').querySelector(".tem-cp").value;
                    const content = $writeComment.value;
                    console.log(content);
                    console.log(refCommentCode);
                    fetch('/post/addReply', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json; charset=UTF-8'
                        },
                        body: JSON.stringify({ content, postCode ,refCommentCode })
                    })
                        .then(res => {
                            console.log("rress:" + res);
                            $writeComment.value = '';
                            console.log("마라탕 먹고싶다. ");
                            loadReply();
                        })
                        .catch(error => console.log(error));
                }
            });
        });


        function loadReply(){
            const postNo = document.querySelector(".tem-code-input").value;
            const commentCode = document.querySelector(".tem-cc").value;
            console.log("댓글코오드",commentCode)
            fetch('/post/loadReply?postCode=' + postNo+"&code="+commentCode)
                .then(result => result.json())
                .then(data => {
                    console.log("데이터", data);
                    // 추가 데이터 요청
                    fetch('/post/additionalData?postCode=' + postNo)
                        .then(response => response.json())
                        .then(additionalData => {
                            console.log("추가 데이터", additionalData);
                            makeReplyTable(data,additionalData); // Pass both data and additionalData to makeReplyTable
                        })
                        .catch(error => console.error("추가 데이터를 가져오는 중 오류 발생", error));
                })
                .catch(error => console.error("데이터를 가져오는 중 오류 발생", error));
        }

        function makeReplyTable(){
            console.log("성공!");
        }

        let isLiked =  document.getElementById("isLiked").value;
        console.log("좋아요?",isLiked);
        const userCode = document.getElementById("login-user").value;
        console.log("유코",userCode);
        const postCode = document.getElementById("post-code").value;
        console.log("포코",postCode);

        $('.likeBtn').click(function () {
            // console.log("유코",userCode);
            // console.log("포코",postCode);

            console.log("누르기 전 좋아요 상태",isLiked);
            var $btn = $(this);
            if (isLiked) {
                $.ajax({
                    type: 'post',
                    url: '/user/likeDown',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        postCode,
                        userCode
                    }),
                    success: function (data) {
                        isLiked = false;
                            $btn.removeClass('liked');
                        $btn.html('<br/>좋아요');
                        console.log("좋아요 취소 성공");
                    }
                });
            } else {
                $.ajax({
                    type: 'post',
                    url: '/user/likeUp',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        postCode,
                        userCode
                    }),
                    success: function (data) {
                        isLiked = true;
                        $btn.addClass('liked');
                        $btn.html('♥️<br/>좋아요');
                        console.log("좋아요 성공");
                    }
                });
            }
        });

    </script>
</th:block>
</html>
