<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/sub.css}" href="/css/sub.css"/>
    <!-- 여기에 연결할 외부 CSS 링크를 지정 -->
    <!-- 생성한 CSS 파일은 `/resources/static/css` 에 넣어주세요. -->
    <link rel="stylesheet" th:href="@{/css/post.css}" href="/css/post.css"/>
</th:block>

<th:block layout:fragment="content">
    <div class="sub-content">
        <div class="inner">
            <section class="section">
                <div class="fixed-header">
                    <div class="p-series-title">
                        <h1 th:text="|${series.title}|"></h1>
                    </div>
                    <div class="post-title">
                        <p th:text="|${post.code}화 ${post.title}|"></p>
                    </div>
                    <div class="series-author">
                  <span class="series-author-information">
                    <div class="series-author-information-detail-header">
                      <img class="series-author-information-detail-image" src="/images/temp/author.png"/>
                      <div class="series-author-information-detail-name">
                        <h2 th:text="${user.nickname}">232</h2>
                      </div>

                        <button class="post-information-like">
                            <p class="post-information-like-content">
                           ♡ 222
                            </p>
                          </button>
                        <div class="post-information-log">
                              <p class="post-information-log-content">조회: 34회</p>
                          </div>
                    </div>
                  </span>
                    </div>
                </div>
                <!--메인 컨텐츠-->
                <div class="main-content">
                    <button class="previous-post"><</button>
                    <!--메인 컨텐츠 시작-->
                    <div th:utext="${post.content}">

                    </div>
                    <!--메인 컨텐츠 끝-->
                    <button class="after-post">></button>
                </div>

                <!--좋아요,작가구독,신고하기 버튼-->
                <div class="post-buttons">
                    <button class="post-like-button post-button">
                        ♥️<br/>
                        좋아요
                    </button>
                    <button class="post-subscribe-button post-button">
                        +<br/>
                        작가 구독
                    </button>
                    <button class="post-report post-button">
                        ⚠️<br/>
                        신고하기
                    </button>
                </div>

                <hr/>

                <!--페이징 처리해서 모든 회차 볼 수 있도록-->

                <div class="under-navigatorbar-post">
                    <div class="under-navigatorbar-contents">
                        <div>
                            <p class="go-navigator"><</p>
                        </div>
                        <!--회차들의 썸네일들-->
                        <div class="posts-wrapper">
                            <div>
                                <img src="/images/temp/thumbnail.png" class="posts-thumbnails"/>
                                <p class="posts-number">56화</p>
                            </div>
                            <div>
                                <img src="/images/temp/thumbnail.png" class="posts-thumbnails"/>
                                <p class="posts-number">57화</p>
                            </div>
                            <div>
                                <img src="/images/temp/thumbnail.png" class="posts-thumbnails"/>
                                <p class="posts-number">58화</p>
                            </div>
                            <div>
                                <img src="/images/temp/thumbnail.png" class="posts-thumbnails"/>
                                <p class="posts-number">59화</p>
                            </div>
                        </div>
                        <div><p class="go-navigator">></p></div>
                    </div>
                </div>
                <input class="test1" th:value="${#authentication.principal.code}"/>
                <!--댓글-->
                <div>
                    <div>
                        <h2 class="p-post-comment">댓글 작성</h2>
                    </div>

                    <div class="comment-add">
                        <form>
                            <textarea onchange="test()" id="comment-writing-area" class="comment-writing-area" placeholder="댓글을 입력해주세요. 최대 500자" maxlength="500"></textarea>
                            <button id="comment-add-btn" class="comment-add-btn">작성하기</button>
                        </form>
                    </div>
                </div>

<!--                 댓글 출력-->
                <div class="comment-area" th:each="comment : ${commentList}" >
                    <div class="comment-content-area" th:text="${comment.content}"></div>
                    <p class="comment-writer-area" th:text="${comment.user.nickname}">작성자</p>
                    <p class="comment-date-area" th:text="${comment.createDate}">작성 날짜</p>
                    <div th:if="${comment.user.code == #authentication.principal.code}">
                        <button th:onclick="removeComment([[${comment.code}]])">댓글 삭제</button>
                    </div>
                </div>


            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script>
        function test(){
            const text = document.querySelector(".comment-writing-area");
            console.log(text.value);
            const postCode = '[[${post.code}]]'
            console.log("뽀스트넘버ㅣ"+postCode);
           const test1 = document.querySelector(".test1");
           console.log(test1);
           console.log('콘소리'+`[[${#authentication.principal.code}]]`);
        }
    </script>
<script>
    /*댓글 작성*/
    if(document.getElementById("comment-add-btn")){
        const $addComment = document.getElementById("comment-add-btn");
        const $writeComment = document.getElementById("comment-writing-area");

        $addComment.onclick=function() {
            if (!$writeComment.value.trim()) {
                alert('내용을 작성해주세요');
                return;
            }

            const postCode = '[[${post.code}]]'
            console.log("뽀스트넘버ㅣ"+postCode);
            const content = $writeComment.value;

            fetch('/post/addComment', {
                method: 'POST',
                headers: {
                    'Content-Type' : 'application/json; charset=UTF-8'
                },
                body : JSON.stringify({ postCode, content })
            })
                .then(res => {
                    console.log("rress:"+res);
                    $writeComment.value = '';
                    loadComment();
                })
                .catch(error => console.log(error));
        }
    }

    // /*댓글 삽입 삭제 발생 시 최신 댓글을 다시 로드하는 기능*/
    function loadComment() {

        const postNo = `[[${post.code}]]`;


        fetch('/post/loadComment?postCode=' + postNo)
            .then(result => result.json())
            .then(data => makeCommentTable(data))
            .catch(error => console.log(error));
    }

    /*댓글 목록 데이터를 테이블화 하는 함수*/
    function makeCommentTable(commentList){
        const commentArea = document.querySelector(".comment-area");
        commentArea.innerHTML='';
        commentList.forEach(comment => {
            const $comment = document.createElement("div");
            const $content = document.createElement("div");
            const $nickname = document.createElement("p");
            const $createdDate = document.createElement("p");
            const $button = document.createElement("div");

            $content.textContent = comment.content;
            $nickname.textContent = comment.user.nickname;
            $createdDate.textContent = comment.createDate;

            if(`[[${#authentication.principal.code}]]`==comment.user.code){
                $button.innerHTML = `<button onclick='removeComment(${comment.code})'>댓글삭제</button>`;
            }

            $comment.append($content,$nickname,$createdDate,$button);
            commentArea.append($comment);
        })
    }

    /*댓글 삭제*/
    function removeComment(commentNo){
        fetch('/post/removeComment',{
            method:'POST',
            headers : {
                'Content-Type' : 'application/json; charset=UTF-8'
            },
            body : JSON.stringify({commentNo})
        }).then(() => loadComment())
            .catch(error => console.log(error));
    }

</script>


</th:block>
</html>
