<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/story}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="/css/main.css" />
</th:block>

<th:block layout:fragment="content">
    <div class="story-content">
        <div class="inner">
            <section class="section">
                <div class="box-border-header">
                    <h3 class="h3 userPost" th:text="|${storyUser.nickname} 님의 시리즈|"></h3>
                    <button class="button bd-dark" th:onclick="onClickAddSeries()">
                        <i class="bi bi-plus-square"></i>
                        <span class="txt">시리즈 추가</span>
                    </button>
                </div>
                <th:block th:if="${seriesList.size() == 0}">
                    <div class="box-no-content">
                        <p>아직 시리즈가 없습니다</p>
                    </div>
                </th:block>
                <th:block th:unless="${seriesList.size() == 0}">
                    <div class="main-series-swiper series-list">
                        <div class="swiper-wrapper series-wrapper">
                            <div class="series-margin" th:each="series:${seriesList}">
                                <a th:href="@{/series/page(code=${series.code})}">
                                    <div class="thumbnail-image">
                                        <img class="best-series-img" th:src="${series.thumbnailImage}"
                                             onerror="this.src='/images/temp/thumbnail.png'" alt="시리즈 썸네일" />
                                    </div>
                                    <p class="description" th:text="${series.title}"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </th:block>
            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script"></th:block>
</html>
