<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">
<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</th:block>



<th:block layout:fragment="content">
    <div class="main-content">
        <div class="inner">
            <section class="section section-weekly-series">
                <h2 class="h2">이번 주 인기 시리즈</h2>

                <div class="main-series-swiper series-list">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" th:each="series:${seriesList}">
                            <a th:href="@{/series/page(code=${series.code})}">
                                <div class="thumbnail-image">
                                    <img class="best-series-img" th:src="${series.thumbnailImage}"
                                         onerror="this.src='/images/temp/thumbnail.png'" alt="시리즈 썸네일" />
                                </div>
                                <p class="description" th:text="${series.title}"></p>
                            </a>
                        </div>
                        <!--                         <button class="swiper-button-prev"> -->
                        <!--                             <i class="bi bi-chevron-left"></i> -->
                        <!--                         </button> -->
                        <!--                         <button class="swiper-button-next"> -->
                        <!--                             <i class="bi bi-chevron-right"></i> -->
                        <!--                         </button> -->
                    </div>
                </div>
            </section>

            <section class="section section-weekly-posts">
                <h2 class="h2">이번 주 인기 포스트</h2>

                <div class="post-list">
                    <div class="post-item" th:each="post : ${postList}" th:onclick="|onClickValidatePost(${post.code})|">
                        <input class="input-post" th:value="${post.code}" hidden />
                        <div class="thumbnail-image">
                            <img th:src="${post.thumbnailImage}" alt="포스트 썸네일"
                                 onerror="this.src='/images/temp/thumbnail.png'" />
                        </div>
                        <div class="post-content">
                            <p th:text="|${post.seriesTitle}|" class="best-post-series"></p><br><br>
                            <div class="post-text">
                                <h3 class="post-name" th:text="${post.title}"></h3>
                            </div>
                            <br>
                            <div class="post-meta">
                                <dl class="date">
                                    <dt>
                                        <i class="bi bi-calendar"></i>
                                        <span class="blind">작성일</span>
                                    </dt>
                                    <dd th:text="${post.createDate}"></dd>
                                </dl>
                                <dl class="views">
                                    <dt>
                                        <i class="bi bi-eye"></i>
                                        <span class="blind">조회수</span>
                                    </dt>
                                    <dd th:text="${post.views}"></dd>
                                </dl>
                                <dl class="like">
                                    <dt>
                                        <!--                                        <i class="bi bi-heart"></i>-->
                                        <!--                                        <span class="blind">좋아요</span>-->
                                        <div class="like_post_info">
                                            <button class="likeBtn"><i class="far fa-heart"></i></button>
                                        </div>
                                    </dt>
                                    <dd class="like-input"></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section section-genre-best">
                <h2 class="h2">장르 별 베스트</h2>

                <div class="inner">
                    <!-- 1차 장르 목록 -->
                    <nav class="genre-tab">
                        <ul class="genre-tab-list">
                            <th:block th:each="genre, obj : ${genreList}">
                                <li class="genre-list" th:classappend="${obj.index} == 0 ? 'active': ''">
                                    <button th:text="|${genre.name}|" th:value="${genre.code}"></button>
                                </li>
                            </th:block>
                        </ul>
                    </nav>
                </div>
                <div class="main-series-swiper series-list">
                    <div class="swiper-wrapper selected-series">
                    </div>
                </div>
            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/main.js}" src="/js/main.js">

    </script>
</th:block>
</html>