<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec=""
      layout:decorate="~{/layout/story}" lang="">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/membership.css}" href="/css/membership.css"/>
</th:block>

<th:block layout:fragment="content">
    <div class="sub-content">
        <div class="inner">
            <section class="section">
                <div id="membership-created">
                    <section class="section" sec:authorize="isAuthenticated()">

                        <h2 class="h2 userPost" th:text="|${storyUser.nickname} 님의 멤버십|"></h2>
                    </section>
                    <div>
                        <div class="comment" th:if="${loginUser.userId}!=${user}">
                            <p>아직 개설한 멤버십 플랜이 없네요!</p>
                            <p th:if="${loginUser.userId}==${user}">플랜을 만들어 매력적인 포스트로 사람들의 마음을 사로잡으세요!</p>
                        </div>
                        <div th:if="${loginUser.userId}==${user}">
                            <h3 class="h3">팬들과 더 가까워지는 <br/>멤버십을 개설하여 회원들과 소통해봐요!</h3>
                        </div>
                        <div th:if="${loginUser.userId}==${user}">
                            <button class="create-button" onclick="location.href='/membership/create'">멤버십 개설하기</button>
                        </div>
                    </div>
                    <div class="bottom-comment" th:if="${loginUser.userId}==${user}">
                        <div>
                            <p>
                                멤버십을 개설한 크리에이터는<br/>
                                다음 달 평균 20배의 수익을 경험했어요!
                            </p>
                        </div>
                        <div class="sub-comment" th:if="${loginUser.userId}==${user}">
                            <p>ABOUT</p>
                            <p class="p1">멤버십은 무엇인가요?</p>
                            <div class="membership-comment">
                                <p>팬들로부로부터 후원을 받는 수익 모델이에요. </p>
                                <p>자신의 아이디어를 포스터에 실어 자신만의 팬들을 만드세요!</p>
                                <p>수익 뿐만 아니라, 팬들과의 소통으로 저희 펜토리얼을 풍족하게 해주세요!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-comment" th:if="${loginUser.userId}!=${user}">
                    <div>
                        <p>
                            해당 회원님은 아직 멤버십을 개설하지 않았어요!
                        </p>
                    </div>
            </section>


            <!-- ------------------------------------ -->
        </div>
    </div>

    <script>
    </script>

</th:block>

<th:block layout:fragment="script">


</th:block>
</html>


