<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/user.css}" href="/css/user.css"/>
    <!-- 여기에 연결할 외부 CSS 링크를 지정 -->
    <!-- 생성한 CSS 파일은 `/resources/static/css` 에 넣어주세요. -->
    <!-- [작성 예시] <link rel="stylesheet" th:href="@{/css/파일명.css}" href="/css/파일명.css" /> -->
</th:block>

<th:block layout:fragment="content">
    <div class="story-content">
        <div class="inner">
            <ul class="storage_box">
            </ul>

            <section class="section">
                <h2>구독/멤버십</h2>
                <button onclick="location.href='/subscribe/storyList'">구독</button>
                <button onclick="location.href='/membership/noMembershipJoinList'">멤버십</button>
                <h3 class="h2">멤버십</h3>
                <p>총 <span th:text="${membershipJoinList.size()}">0</span>개</p>


                <div th:each="membershipJoin : ${membershipJoinList}">
                    <div>
                        <p th:text="${membershipJoin.name}"></p>
                        <p th:text="${membershipJoin.price}"></p>
                        <p th:text="${membershipJoin.createDate}"></p> <!-- 가입 날짜 -->
                    </div>
                </div>
            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script"></th:block>
</html>