<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/settings}">lang="ko">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/membership.css}" href="/css/membership.css"/>
    <!-- 여기에 연결할 외부 CSS 링크를 지정 -->
    <!-- 생성한 CSS 파일은 `/resources/static/css` 에 넣어주세요. -->
    <!-- [작성 예시] <link rel="stylesheet" th:href="@{/css/파일명.css}" href="/css/파일명.css" /> -->
</th:block>
<th:block layout:fragment="content">
    <div class="sub-content membership-content">
        <!--        membership-content 클래스 추가 -->
        <div class="inner">
            <!-- 한 페이지 당 컨텐츠는 section으로 묶습니다. -->
            <section class="section-create">
                <h2 class="h2">멤버십 플랜 수정</h2>
                <p class="h2-bottom-text form-message is-active">*표시는 필수 입력 항목입니다.</p>
                <form id="modifyForm" action="/membership/modify" method="post">
                    <div class="box">
                        <h3 class="h3">플랜 정보</h3>

                        <div class="form-item">
                            <h4 class="h4">
                                <label for="planTitle" class="label">플랜 제목*</label>
                            </h4>
                            <input type="text" id="planTitle" name="name" class="input"
                                   placeholder="플랜 제목을 입력하세요. (최대 20자)" maxlength="20" required>
                            <p class="form-message">최대 20자까지 입력할 수 있습니다.</p>
                        </div>

                        <div class="membership-modify-membership-intro">
                            <h4 class="h4">
                                <label for="planTitle" class="label">플랜 소개*</label>
                            </h4>
                            <input type="text" class="input" name="introduction"
                                   placeholder="플랜을 소개해주세요 (최대 500자)">
                            <p class="form-message"><b>유용한 팁</b>플랜 멤버에게 어떤 창작 계획이 있는지 구체적으로 써보세요.<br>
                                차기작 준비, 테블릿 구매 등 후원을 요청하는 이유를 쓸 수도 있어요.</p>
                        </div>
                    </div>

                    <!--                    <div class="box">-->
                    <!--                        <h3 class="h3">후원 플랜 설정</h3>-->

                    <!--                        <h4 class="h4">후원 금액(원)</h4>-->
                    <!--                        <input type="number" placeholder="원하시는 후원 금액을 적어주세요." min="1000" max="100000"-->
                    <!--                               readonly/><br/>-->
                    <!--                        <p>최소 1000원, 최대 1,000,000원의 범위 내에서 100원 단위로 입력할 수 있습니다.</p>-->
                    <!--                        <p><b>주의사항</b> 후원금 액수는 한 번 정하면 변경할 수 없으니 신중하게 결정하세요.</p>-->
                    <!--                    </div>-->
                    <div class="box">
                        <h3 class="h3">디자인</h3>
                        <div class="form-item">
                            <h4 class="h4">
                                <label for="planColor" class="label">플랜 색상</label>
                            </h4>
                            <input type="color" id="planColor" name="color" class="ColorPicker">
                        </div>
                    </div>

                    <div class="box-bottom">
                        <button class="button" onclick="location.href='/membership/planInfo'">뒤로</button>
                        <button class="button dark" onclick="submitForm()">멤버십 수정 완료</button>
                    </div>
                    <div class="delete-button">
                        <button class="button" onclick="location.href='/membership/delete'">멤버십 탈퇴</button>
                    </div>
                </form>
            </section>
            <!-- ------------------------------------ -->
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script>
        function submitForm() {
            document.getElementById("modifyForm").submit();
        }
    </script>

    <!-- JavaScript function to redirect to the membership page -->
    <!-- 생성한 CSS 파일은 `/resources/static/js` 에 넣어주세요. -->
    <!-- [작성 예시] <script th:src="@{/js/파일명.js}" src="/js/파일명.js"></script> -->
</th:block>
</html>
