<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/settings}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/settings.css}" href="/css/settings.css"/>
</th:block>

<th:block layout:fragment="content">
    <div class="story-content">
        <div class="inner">
            <section class="section">
                <div id="membership-created">
                    <section class="section" sec:authorize="isAuthenticated()">
                        <div>
                            <h3 class="h3">멤버십 가입자</h3>
                            <p>총 00명</p>
                        </div>
                        <div>
                            <p>
                                매력적인 포스트로 사람들의 마음을 사로잡으세요!
                            </p>
                        </div>
                    </section>
                    <!-- ------------------------------------ -->
                </div>
            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">

</th:block>
</html>



























