<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/story}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/story.css}" href="/css/story.css"/>
</th:block>

<th:block layout:fragment="content">
    <div class="story-content">
        <div class="inner">
            <section class="section">
                <div id="membership-created">
                    <section class="section" sec:authorize="isAuthenticated()">

                        <h2 class="h2"><span class="username" sec:authentication="principal.name"></span>님의 창작 활동을 펜토리얼은
                            응원합니다.
                        </h2>
                        <p>멤버십 플랜을 활성화 시켜 작가님 만의 팬들을 만들어 소통해보세요!.</p>
                        <p>팬들이 멤버십 가입이 작가님의 수익으로 전환될 수 있어요! </p>

                        <div th:if="${membership != null}">
                            <ul>
                                <li th:each="membership : ${membership}">
                                    <p th:text="${membership.name}"></p>
                                    <p th:text="${membership.price}"></p>
                                    <p>/월</p>
                                    <p th:text="${membership.introduction}"></p>
                                    <p th:text="${membership.color}"></p>
                                </li>
                            </ul>
                            <div>
                                <button type="button" onclick="location.href='/membership/modify'">멤버십 관리</button>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script"></th:block>
</html>
