<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/sub.css}" href="/css/sub.css" />
    <link rel="stylesheet" th:href="@{/css/post.css}" href="/css/post.css" />
    <style>

    </style>
    <!-- 여기에 연결할 외부 CSS 링크를 지정 -->
    <!-- 생성한 CSS 파일은 `/resources/static/css` 에 넣어주세요. -->
    <!-- [작성 예시] <link rel="stylesheet" th:href="@{/css/파일명.css}" href="/css/파일명.css" /> -->
</th:block>

<th:block layout:fragment="content">
    <div class="sub-content">
        <div class="inner">
            <section class="section">
                <h2></h2>
                <div class="container">
                    <div class="container-inner">
                        <div class="series-thumbnail">
                            <button type="button" class="series-thumbnail-button">
                                <img class="series-thumbnail-button-img" src="/images/temp/thumbnail.png">
                            </button>
                        </div>
                        <div class="series-title">
                            <h2 class="series-title-inner">
                                연애혁명
                            </h2>
                            <div class="series-author">
                                <span class="series-author-information">
                                    <!--								<a class="series-author-information-detail">-->
                                    <div class="author-image-name">
                                        <img class="series-author-information-detail-image"
                                             src="/images/common/series-author.jpg"/>
                                        <div class="series-author-information-detail-name"><h5 class="series-author-name">232<span
                                                class="writer">· 글/그림
                                            <div class="membership-subscribe-btn">
                                                <button class="membership-button btn">
                                                    멤버십 가입
                                                </button>
                                                <button class="subscribe-button btn">
                                                    구독
                                                </button>
                                            </div>
                                        </span></h5></div>
                                    </div>
                                    <!--								</a>-->
                                </span>
                            </div>

                            <div class="series-content-shorts">
                                <p>
                                    <b>
                                        요약내용요약내용요약내용요약내용요약내용요약내용요약내용요약내용요약내용요약내용요약내용요약내용요약내용요약내용
                                    </b>
                                </p>
                            </div>
                            <div class="series-genre">
                                <a class="series-genre-upper">#웹툰</a>
                                <a class="series-genre-lower">#로맨스</a>
                                <a class="series-genre-lower">#학원물</a>
                            </div>
                        </div>

                        <div class="series-update-delete">
                            <button class="series-update-button btn">수정</button>
                            <button class="series-delete-button btn">삭제</button>

                        </div>
                    </div>
                    <div class="membership-subscribe-button">

                    </div>

                    <!--중간 네비게이터-->
                    <div class="container-button">
                        <button class="container-button-like">
                            + ♡ 222
                        </button>
                        <a>
                            <button class="container-button-first-post">
                                첫 화보기
                            </button>
                        </a>
                    </div>


                    <div class="series-bundle">
                        <div class="series-bundle-total">총 100화</div>
                        <div class="series-add-post">
                            <button class="series-bundle-add btn">
                                추가하기
                            </button>
                        </div>
                    </div>

                </div>

                <!--포스트-->
                <div class="post-information-thumbnail">
                    <img class="post-information-thumbnail-content" src="/images/temp/series-thumbnail.png">
                    <!--자물쇠 모양 이미지-->
                    <img class="bi bi-lock-fill" src="/images/temp/자물쇠.png"/>
                    <div  class="post-information-lock"><p>200P</p></div>
                    <!--19금 딱지 이미지-->
                    <!--					<img class="post-information-adult" src="/images/common/logo_pentorial.svg"/>-->
                    <div class="series-post-content-information">
                        <div class="post-information-title">
                            <p class="post-information-title-content">
                                00화. 제목
                            </p>
                        </div>
                        <div class="b">
                            <button class="post-information-like">
                                ♡ 222
                            </button>
                            <div class="post-information-log">
                                <p class="post-information-log-title">
                                <p class="post-information-log-content">조회 : 34회</p>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="series-post-update-delete">
                        <button class="series-update-button btn">수정</button>
                        <button class="series-delete-button btn">삭제</button>
                    </div>

                </div>


                <div class="post-information-thumbnail">
                    <img class="post-information-thumbnail-content" src="/images/temp/series-thumbnail.png">
                    <!--자물쇠 모양 이미지-->
                    <img class="bi bi-lock-fill" src="/images/temp/자물쇠.png"/>
                    <div  class="post-information-lock"><p>200P</p></div>
                    <!--19금 딱지 이미지-->
                    <!--					<img class="post-information-adult" src="/images/common/logo_pentorial.svg"/>-->
                    <div class="series-post-content-information">
                        <div class="post-information-title">
                            <p class="post-information-title-content">
                                00화. 제목
                            </p>
                        </div>
                        <div class="b">
                            <button class="post-information-like">
                                ♡ 222
                            </button>
                            <div class="post-information-log">
                                <p class="post-information-log-title">
                                <p class="post-information-log-content">조회 : 34회</p>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="series-post-update-delete">
                        <button class="series-update-button btn">수정</button>
                        <button class="series-delete-button btn">삭제</button>
                    </div>

                </div>




                <div class="post-information-thumbnail">
                    <img class="post-information-thumbnail-content" src="/images/temp/series-thumbnail.png">
                    <!--자물쇠 모양 이미지-->
                    <img class="bi bi-lock-fill" src="/images/temp/자물쇠.png"/>
                    <div  class="post-information-lock"><p>200P</p></div>
                    <!--19금 딱지 이미지-->
                    <!--					<img class="post-information-adult" src="/images/common/logo_pentorial.svg"/>-->
                    <div class="series-post-content-information">
                        <div class="post-information-title">
                            <p class="post-information-title-content">
                                00화. 제목
                            </p>
                        </div>
                        <div class="b">
                            <button class="post-information-like">
                                ♡ 222
                            </button>
                            <div class="post-information-log">
                                <p class="post-information-log-title">
                                <p class="post-information-log-content">조회 : 34회</p>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="series-post-update-delete">
                        <button class="series-update-button btn">수정</button>
                        <button class="series-delete-button btn">삭제</button>
                    </div>

                </div>



                <div class="post-information-thumbnail">
                    <img class="post-information-thumbnail-content" src="/images/temp/series-thumbnail.png">
                    <!--자물쇠 모양 이미지-->
                    <img class="bi bi-lock-fill" src="/images/temp/자물쇠.png"/>
                    <div  class="post-information-lock"><p>200P</p></div>
                    <!--19금 딱지 이미지-->
                    <!--					<img class="post-information-adult" src="/images/common/logo_pentorial.svg"/>-->
                    <div class="series-post-content-information">
                        <div class="post-information-title">
                            <p class="post-information-title-content">
                                00화. 제목
                            </p>
                        </div>
                        <div class="b">
                            <button class="post-information-like">
                                ♡ 222
                            </button>
                            <div class="post-information-log">
                                <p class="post-information-log-title">
                                <p class="post-information-log-content">조회 : 34회</p>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="series-post-update-delete">
                        <button class="series-update-button btn">수정</button>
                        <button class="series-delete-button btn">삭제</button>
                    </div>

                </div>



                <div class="post-information-thumbnail">
                    <img class="post-information-thumbnail-content" src="/images/temp/series-thumbnail.png">
                    <!--자물쇠 모양 이미지-->
                    <img class="bi bi-lock-fill" src="/images/temp/자물쇠.png"/>
                    <div  class="post-information-lock"><p>200P</p></div>
                    <!--19금 딱지 이미지-->
                    <!--					<img class="post-information-adult" src="/images/common/logo_pentorial.svg"/>-->
                    <div class="series-post-content-information">
                        <div class="post-information-title">
                            <p class="post-information-title-content">
                                00화. 제목
                            </p>
                        </div>
                        <div class="b">
                            <button class="post-information-like">
                                ♡ 222
                            </button>
                            <div class="post-information-log">
                                <p class="post-information-log-title">
                                <p class="post-information-log-content">조회 : 34회</p>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="series-post-update-delete">
                        <button class="series-update-button btn">수정</button>
                        <button class="series-delete-button btn">삭제</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <!-- 여기에 연결할 외부 javascript 링크를 지정 -->
    <!-- 생성한 CSS 파일은 `/resources/static/js` 에 넣어주세요. -->
    <!-- [작성 예시] <script th:src="@{/js/파일명.js}" src="/js/파일명.js"></script> -->
</th:block>
</html>