<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block th:fragment="header">
    <header id="header" class="common-header">
        <h1 class="header-title">
            <a href="/">
                <span class="blind">펜토리얼</span>
                <span class="logo"></span>
            </a>
        </h1>
        <div class="header-right">
            <form action="/series/select" method="post">
                <div class="searchWrap">
                    <div class="search">
                        <select name="sca">
                            <option value="wr_subject_name">제목+작성자</option>
                            <option value="wr_subject">제목</option>
                            <option value="wr_name">작성자</option>
                        </select>
                        <label id="inpSearch">
                            <input type="text" id="inpSearch" name="stx">
                            <img src="https://www.exsoft.co.kr/theme/exsoft/img/search.svg" alt="">
                        </label>
                    </div>
                </div>
            </form>
            <th:block sec:authorize="hasRole('ROLE_USER')">
                <button type="button" class="alert-btn">
                    <span class="blind">알림</span>
                    <i class="bi bi-bell"></i>
                    <span class="alert-dot">
                    <span class="blind">새로운 알림</span>
                </span>
                </button>

                <button type="button" class="profile-btn" sec:authorize="isAuthenticated()">
                    <div class="profile-image" sec:authorize="hasRole('ROLE_USER')">
                        <img th:src="${#authentication.principal.profileImage != null
                        ? #authentication.principal.profileImage : '/images/temp/profile.png'}" alt="유저 프로필"/>
                    </div>
                </button>
            </th:block>

            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="link">
                    <a th:href="@{/admin/list}" class="button btn-admin">관리자 페이지</a>
                </div>
                <div class="link">
                    <a th:href="@{/user/logout}" class="button">로그아웃</a>
                </div>
            </th:block>

            <th:block sec:authorize="isAnonymous()">
                <div class="link login-link">
                    <a th:href="@{/user/login}" class="button">로그인</a>
                </div>
                <div class="link login-link">
                    <a th:href="@{/user/regist}" class="button">회원가입</a>
                </div>
            </th:block>
        </div>
    </header>

    <aside id="aside" class="overlay b30" sec:authorize="isAuthenticated()">
        <h2 class="blind">사이드 메뉴</h2>

        <div class="aside-wrap">
            <div class="aside-header">
                <div class="user-profile">
                    <div class="profile-image">
                        <img th:src="${#authentication.principal.profileImage != null
                        ? #authentication.principal.profileImage : '/images/temp/profile.png'}" alt="유저 프로필"/>
                    </div>
                    <div class="profile-info">
                        <span class="nickname" sec:authentication="principal.nickname">닉네임</span>
                        <span class="username" sec:authentication="principal.name">이름</span>
                    </div>
                    <div class="profile-point">
                        <dl class="point-info">
                            <dt>포인트</dt>
                            <dd th:text="|${#authentication.principal.point > 0 ? #numbers.formatInteger(#authentication.principal.point, 3, 'COMMA') : 0}P|">
                                0P
                            </dd>
                        </dl>
                        <a th:href="@{/point/order}" class="button"> 충전</a>

                    </div>
                </div>
            </div>
            <div class="aside-body">
                <nav class="aside-nav">
                    <ul>
                        <li><a th:href="@{/story}">마이 스토리</a></li>
                        <li><a th:href="@{/user/like}">보관함</a></li>
                        <li><a th:href="@{/subscribe/storyList}">구독/멤버십</a></li>
                        <li><a th:href="@{/point}">포인트</a></li>
                        <li><a th:href="@{/user/update}">계정 설정</a></li>
                        <li id="logout"><a th:href="@{/user/logout}">로그아웃</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </aside>
</th:block>
<script src="/js/event.js"></script>
</html>