<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="links">
    <link rel="stylesheet" th:href="@{/css/reset.css}" href="/css/reset.css" />
    <link rel="stylesheet" th:href="@{/libs/swiper-11.0.7/swiper-bundle.min.css}" href="/libs/swiper-11.0.7/swiper-bundle.min.css" />
    <link rel="stylesheet" th:href="@{/libs/toastui-editor/toastui-editor.min.css}" href="/libs/toastui-editor/toastui-editor.min.css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" href="/css/common.css" />

    <th:block layout:fragment="link"></th:block>
</th:block>
</html>