/* ======== Layout ========================== */
#wrap { position: relative; } 

/* header */
#header { display: flex; z-index: 300; align-items: center; justify-content: space-between; width: 100%; padding: 16px; border-bottom: 1px solid #ddd; background-color: #fff; } 
.common-header { position: -webkit-sticky; position: sticky; top: 0; left: 0; min-width: 1000px; } 
.common-header .header-title .logo { display: block; width: 147px; height: 48px; background-image: url(../images/common/logo_pentoryall.png); background-size: 147px 48px; background-repeat: no-repeat; } 
.common-header .header-right { display: flex; flex-wrap: wrap; align-items: center; } 
.header-right .search-input { width: 240px; height: 36px; padding: 0 20px; overflow: hidden; border: 1px solid #ddd; border-radius: 18px } 
.header-right .search-input .input { width: 100%; height: 34px; padding: 0; border: 0 }
.header-right .searchWrap {margin-right: 12px;}
.header-right  .searchWrap .search { display: flex; align-items: center; justify-content: space-between; padding: 7px 15px; border: 1px solid #ccc; border-radius: 32px; }
.header-right  .searchWrap .search select { padding: 0 6px; font-size:12px; cursor: pointer }
.header-right  .searchWrap .search > label img,
.header-right  .searchWrap .search > label .bi { cursor: pointer; }
.header-right  .searchWrap .search > label .bi { font-size: 18px; }
.header-right  .searchWrap .search > label input { padding: 0 4px; font-size: 14px }
.header-right .alert-btn,
.header-right .profile-btn { width: 48px; height: 48px; background-color: #fff; } 
/* .header-right .alert-dot { --bs-bg-opacity: 1; position: absolute; top: 20%; left: 70%; padding: .25rem; border-radius: 50%; background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)); } */
.header-right .bi-bell { font-size: 24px; } 
.header-right .profile-btn .profile-image { width: 36px; height: 36px; border: 1px solid #ddd } 
.header-right .btn-admin { background-color: #0d6efd; color: #fff } 
.header-right .link { margin-left: 7px } 

/* side menu */
#aside { display: none; z-index: 999; position: fixed; top: 0; right: 0; width: 300px; height: 100%; background-color: #fff; } 
#aside.active { display: block; } 
.aside-wrap { width: 100%; height: 100%; border-top-left-radius: 8px; border-bottom-left-radius: 8px; background-color: #fff; } 
.aside-header .user-profile { border-bottom: 1px solid #ddd; } 
.profile-point { display: flex; align-items: center; justify-content: space-between; height: 54px; } 
.profile-point .point-info { display: flex; align-items: center; justify-content: space-between; width: 170px; font-size: 18px; } 
.profile-point .button { height: 30px; padding: 8px 20px; font-size: 14px; line-height: 1; } 
.aside-body { padding: 0 24px } 
.aside-body .aside-nav li { height: 54px; font-size: 18px; line-height: 54px; transition: color .2s } 
.aside-body .aside-nav li:hover { color: #999 } 
.aside-body .aside-nav li a { display: block } 

#footer {display: none; min-height: 240px; background-color: #f4f4f4 }

.sub-content.tab-content{padding-top:40px}
.tab-menu {margin-bottom: 40px}
.tab-menu-list{display: flex;  margin: 0 auto;justify-content: center; }
.tab-menu-list .tab-menu-item{margin:0 20px; font-size: 20px}
.tab-menu-list .tab-menu-item.active{box-shadow: inset 0 -6px #0d6efdd1; font-weight: bold;}


/* layout */
#container { position: relative; min-height: calc(100vh - 81px); overflow: hidden; } 
.content { padding-top: 80px; padding-bottom: 40px } 
/* .inner { width: 1140px; margin: 0 auto; overflow-x:hidden; } */
.inner { width: 1000px; height: 100%; margin: 0 auto; overflow: hidden; } 
.box { margin-top: 64px } 
.flex-between { display: flex; justify-content: space-between; } 

/* ======== POP-UP ========================== */
/* popUp */
.popUpWrap { position: absolute; top: 0; left: 0; width: 100%; } 
.popUp_bg { width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.6); } 
.popUp_info { position: absolute; top: 50%; left: 50%; min-width: 470px; max-width: 1000px; padding: 20px; overflow-x: hidden; overflow-y: auto; transform: translate(-50%, -50%); border-radius: 15px; background: white; } 
/* pop-up */
.layer-popup { z-index: 910; position: absolute; top: 50%; left: 50%; width: 840px; overflow: hidden; transform: translate(-50%, -50%); border: 1px solid #ddd; border-radius: 7px; background: #fff; box-shadow: 2px 2px 12px 1px #00000029; } 
.layer-popup .pop-header { display: flex; align-items: center; justify-content: space-between; padding: 12px 30px; background-color: #f7f7f7; } 
.layer-popup .pop-header .h2 { margin-bottom: 0; font-size: 20px; } 
.layer-popup .pop-header .close-btn { padding: 5px; font-size: 24px; } 
.layer-popup .pop-content { max-height: 640px; padding: 24px 24px 40px; overflow-y: scroll; border-bottom: 1px solid #ddd; background-color: #fff; } 
.layer-popup .pop-content-inner .h3 { margin-bottom: 20px; font-size: 18px; } 
.layer-popup .pop-content-inner + .pop-btn { margin-top: 40px; } 
.layer-popup .pop-btn { display: flex; justify-content: flex-end; } 
.layer-popup .pop-btn .button { min-width: 150px; height: 52px; margin-left: 12px; border-radius: 7px; font-size: 18px; } 
.layer-popup .pop-btn .button:first-child { margin-left: 0; } 
/* layer-popup-small */
.layer-popup-small { width: 500px; } 
.layer-popup-small .pop-content { overflow: hidden; } 
.layer-popup-small .pop-content-inner + .pop-btn { margin-top: 20px; } 
.layer-popup-small .pop-btn .button { flex: 1 1 auto; } 

/* ======== Variables ========================== */
body.overflow { overflow: hidden; } 
/* overlay */
.active.overlay::before { display: block; } 
.overlay:before { display: none; z-index: -1; position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow-y: scroll; content: '' } 
/* .overlay:before { display:none; z-index:-1; position:fixed; top:0; left:0; width:100%; height:100%; content:'' } */
.b30:before { background: rgba(0, 0, 0, .3) } 
.b50:before { background: rgba(0, 0, 0, .5) } 
.b75:before { background: rgba(0, 0, 0, .75) } 
.w30:before { background: rgba(255, 255, 255, .3) } 
.w50:before { background: rgba(255, 255, 255, .5) } 
.w75:before { background: rgba(255, 255, 255, .75) } 

/* color */
.is-danger { color: #f14668 } 
.is-success { color: #48c78e } 
.is-active { color: #0d6efd } 

/* heading */
.h2 { margin-bottom: 40px; font-weight: 700; font-size: 32px; } 
.h3 { margin-bottom: 12px; font-weight: 600; font-size: 20px; } 
.h4 { margin-bottom: 7px; font-weight: 600; font-size: 16px; } 

.p{line-height: 150% ;}

/* form */
.label { margin-bottom: 8px; } 
.input, .select { height: 42px } 
.input, .select, .textarea { width: 100%; padding: 8px 8px 8px 16px; border: 1px solid #ddd; border-radius: 7px; font-size: 16px; } 
.input::placeholder { color: #999; }
.button .bi+.txt {padding-left: 7px}
a.button { display: inline-block } 
.button { padding: 8px 24px; border-radius: 7px; background-color: #ddd; font-size: 16px; line-height: 24px; cursor:pointer; transition: all .35s}
.button:hover{opacity: .8}
.button.disabled { cursor: not-allowed; opacity: .7 } 
.button.blue { background-color: #0d6efd; color: #fff; } 
.button.dark { background-color: #333; color: #fff; }
.button.bd-dark{border:1px solid #333; background-color: rgba(255, 255, 255, 0)}
.form-item { width: 100%; }
.form-item + .form-item { margin-top: 18px } 
.form-item .label { display: block; } 
.form-message { margin-top: 4px; font-size: 12px; } 
/* toggle */
.toggle-button { display: inline-block; position: relative; width: 45px; height: 20px; } 
.toggle-switch { -webkit-transition: .2s; position: absolute; top: 0; right: 0; bottom: 0; left: 0; border-radius: 20px; background-color: #ddd; cursor: pointer; transition: .2s; } 
.toggle-switch:before { webkit-transition: .2s; position: absolute; top: 2px; left: 2px; width: 16px; height: 16px; border-radius: 20px; background-color: #fff; box-shadow: -1px 0px 4px 0px #909090; content: ""; transition: .2s; } 
.toggle-button input:checked + .toggle-switch { background-color: #1e1e1e } 
.toggle-button input:checked + .toggle-switch:before { -ms-transform: translateX(26px); -webkit-transform: translateX(26px); transform: translateX(26px); } 
/* dropdown */
.dropdown { position: relative; width: 100%; } 
.dropdown-btn { position: relative; border: 1px solid #ddd; border-radius: 7px; background-color: #fff; } 
.dropdown-btn .button { display: flex; justify-content: space-between; width: 100%; padding-right: 5px; padding-left: 16px; background-color: #fff; } 
.dropdown .dropdown-content { position: absolute; width: 100%; padding: 8px 0; border: 1px solid #ddd; border-radius: 4px; background-color: #fff; } 
.dropdown .dropdown-content li { padding: 0 16px; font-size: 14px; line-height: 2rem; } 
.dropdown .dropdown-content li:hover { background-color: #f4f4f4; } 
.dropdown .dropdown-content li a { display: block; } 
/* list-group */
.list-group { overflow: hidden; border: 1px solid #ddd; border-radius: 7px; } 
.list-group .list-group-item { position: relative; } 
.list-group .list-group-item:hover { background-color: #f4f4f4; } 
.list-group .list-group-item + .list-group-item { display: flex; border-top: 1px solid #ddd; } 
.list-group .form-check-input:checked + .form-check-label { background-color: #0d6efd; color: #fff; } 
.list-group .form-check-label { display: flex; width: 100%; padding: 18px 20px; cursor: pointer } 
.list-group .form-check-label .form-check-input { margin-right: 8px; vertical-align: middle; } 
.list-group .list-group-item .inner-text { display: flex; justify-content: space-between; width: 100%; } 
.list-group .form-check-label .inner-text span { display: block; font-weight: 500; } 
.list-group .form-check-label .inner-text span:first-child { font-size: 18px; } 
/* vertical-list-group */
.vertical-list-group { display: flex; border: 0; border-radius: 0 } 
.vertical-list-group .list-group-item + .list-group-item { margin-left: 12px } 
.vertical-list-group .list-group-item { flex-basis: 180px; overflow: hidden; border: 1px solid #ddd; border-radius: 7px } 
.vertical-list-group .inner-text { display: inline-block; text-align: center } 

/* table */
.table-box { padding: 12px 20px; border: 1px solid #ddd; border-radius: 7px; } 
.table-box .table { width: 100%; } 
.table thead th { padding: 8px 8px 12px 16px; border-bottom: 1px solid #bbb; color: #555; font-weight: 500; font-size: 14px; text-align: left; } 
.table tbody th, .table tbody td { padding: 16px; border-bottom: 1px solid #ddd; } 
.table tbody tr:last-child th, .table tbody tr:last-child td { border-bottom: 0; } 
/* pagination */
.pagination { display: flex; justify-content: center; width: 100%; margin: 20px auto 50px; } 
.pagination .page-items { display: flex; margin: 0 16px; } 
.pagination .page-item.active .page-btn { border-color: #999; background-color: #999; color: #fff; } 
.pagination .page-btn { display: block; width: 36px; height: 36px; margin: 0 4px; border: 1px solid #ddd; border-radius: 7px; color: #888; font-size: 14px; line-height: 36px; text-align: center; transition: all .15s; } 
.pagination .page-btn:hover { border-color: #666; color: #333; } 
.pagination .page-first-btn,
.pagination .page-last-btn { width: 48px; } 

/* ================================== */
.summary-wrap { width: 100%; margin: 40px auto; padding: 30px; border-radius: 7px; background-color: #f4f4f4; } 
.summary-wrap .p { line-height: 150%; } 
.summary-wrap .desc-list { display: flex; align-items: center; } 
.summary-wrap .desc-list-dt { margin-right: 20px } 
.summary-wrap .desc-list-dd { font-weight: 600; font-size: 22px; } 

.search-option { margin-bottom: 12px } 
.search-option .form-item { width: 180px } 

.profile-image { overflow: hidden; border-radius: 50%; } 
.profile-image img { width: 100%; } 

.user-profile { padding: 32px 24px 0; text-align: center; } 
.user-profile .profile-image { width: 128px; height: 128px; margin: 0 auto; border: 1px solid #ddd } 
.user-profile .profile-info { margin: 20px 30px } 
.user-profile .profile-info span { display: block; } 
.user-profile .profile-info .nickname { margin-top: 12px; font-weight: 600; font-size: 18px; } 
.user-profile .profile-info .username { margin-top: 7px; color: #999; font-size: 14px; } 
/* genre-box */
.genre-box .genre-items { display: flex; } 
.genre-box .label { display: block; margin-bottom: 6px; font-weight: 500; font-size: 14px; } 
.genre-box .genre-item { padding: 6px 20px 10px; background: #f4f4f4; } 
.genre-box .genre-item { width: 1000px; }
/* ================================== */
.series-list .swiper-slide {width: 180px}
.series-list .description { margin-top: 7px; font-weight: 600; font-size: 18px; }

.post-list .post-item { display: flex; padding: 20px 0; border-bottom: 1px solid #eee; }
.post-list .thumbnail-image { display: flex; position: relative; align-items: center; width: 150px; height: 150px; margin-right: 24px; overflow:hidden; }
.post-list .post-content { display: flex; flex-wrap: wrap; align-content: space-between; width: 750px; }
.post-list .post-content .series-name { display: block; color: #999; font-size: 14px; }
.post-list .post-content .post-name { margin: 7px 0 12px; font-weight: 600; font-size: 24px; }
.post-list .post-content .post-description { -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2; overflow: hidden; color: #999; line-height: 1.5; text-overflow: ellipsis; }
.post-list .post-content .post-meta { display: flex; align-items: center; width: 100%; color: #ccc; font-size: 12px; }
.post-list .post-content .post-meta dl { display: flex; margin-right: 12px; }
.post-list .post-content .post-meta dt { margin-right: 4px; }

.post-list-2 {display: flex; flex-wrap: wrap;}
.post-list-2 .post-item{width:49%; margin-right: 1%; margin-bottom: 1%; padding: 10px; border:1px solid #ddd; border-radius: 7px }
.post-list-2 .thumbnail-image {width: 124px;height:124px;}
.post-list-2 .post-content {width: 320px;}
.post-list-2 .post-content .post-name {font-size: 18px}
