/* list.html */
/*html{*/
/*    margin-left:450px;*/
/*}*/
.fixed-header {
    /*margin-left:5px;*/
    position: fixed;
    width: 610px;
    top: 81px;
    background-color: white;
}

.p-series-title {
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}

.p-post-comment {
    margin-bottom: 10px;
    font-weight: bold;
}

.post-title {
    margin-bottom: 30px;
}

.series-author-information-detail-image {
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.series-author-information-detail-name {
    color: #c4c8cb;
}

.series-author-information-detail-header {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-columns: 30px 300px 50px 0px;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-columns: 50px 500px 30px;
    background-size: cover;
}

.post-information-log {
    width: 200px;
    margin-top: 2px;
    margin-left: 30px;
}

hr {
    width: 606px;
    margin-right: 500px;
}

.post-information-log-content {
    margin-left: 4px;
}

.post-information-like-content {
    width: 200px;
    margin-left: -50px;

}

.post-buttons {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-columns: 210px 210px 210px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.likeBtn {
    color: red;
}
.likeBtn.liked {
    color: white;
}

.post-button {
    width: 200px;
    height: 50px;
    border: solid lightcoral;
    border-radius: 100px;
    background-color: lightcoral;
    color: white;
}

.under-navigatorbar-post {
    width: 600px;
    height: 140px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid 1px lightcoral;
    border-radius: 10pt;
}

.under-navigatorbar-contents {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-columns: 37px 525px 37px;
    height: 95px;
    text-align: center;
}

.go-navigator {
    margin-top: 40px;
}

.posts-thumbnails {
    width: 120px;
    height: 80px;
    margin-top: 10px;
    border-radius: 3px;
}

.posts-wrapper {
    display: flex;

}

.posts-thumbnails {
    margin-right: 10px;
    margin-left: 10px;
}

.posts-number {
    margin-top: 10px;
    font-size: 10pt;
}

.comment-writing-area {
    width: 600px;
    height: 200px;
    border: solid 1px lightcoral;
    border-radius: 5pt;
}

.comment-add-btn {
    padding: 10px;
    border: solid 1px lightcoral;
    border-radius: 5pt;
    background-color: lightcoral;
    color: white;
}

.inner-main-content {
}

.main-content-wrapper {
    margin-top: 100px;
}

.middle-box {
    width: 610px;
    height: 10px;
    border-top: solid 1px;
}

/* post-add.html */
.input {
    width: 430px;
    height: 30px;
}

.select-genre {
    overflow: scroll;
}

.textarea {
    width: 430px;
    height: 200px;
    text-align: left;
}

.switch-button {
    display: inline-block;
    position: relative;
    width: 55px;
    height: 30px;
}

.switch-button input {
    width: 0;
    height: 0;
    opacity: 0;
}

.onoff-switch {
    -webkit-transition: .4s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    background-color: #ccc;
    box-shadow: inset 1px 5px 1px #999;
    cursor: pointer;
    transition: .4s;
}

.onoff-switch:before {
    -webkit-transition: .5s;
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    border-radius: 20px;
    background-color: #fff;
    content: "";
    transition: .4s;
}

.switch-button input:checked + .onoff-switch {
    background-color: #F2D522;
    box-shadow: inset 1px 5px 1px #E3AE56;
}

.switch-button input:checked + .onoff-switch:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.needed-point {
    display: flex;
    font-weight: bolder;

}

.point-fee {
    /*margin-left:-140px;*/
}

.needed-point-number {
    width: 45px;
    height: 15px;
}

.form-item-thumbnail {
    width: 220px;
    /*height:140px;*/
    margin-top: 10px;

}

.fileBox {
    margin-left: 30px;
}

.thumbnail-file-wrap {
    height: 150px;
    margin-top: 10px;
}

.form__input--file_wrap {
    position: relative;
    bottom: 130px;
    left: 80px;
}

.series-add-thumbnail {
    width: 103px;
    height: 140px;
    border-radius: 3px;
}

.file-input-label {
    padding: 7px;
    /*border:solid 1px;*/
    border-radius: 5px;
    background-color: #c4c8cb;
}

form input::file-selector-button {
    display: none;
}

.contents-thumbnail-wrapper {
    display: flex;
    width: 430px;
    border-bottom: solid 1px #e4e4e5;
}

.form-item-thumbnail {
    margin-left: 10px;
}

.form-item {
    width: 430px;
    padding-bottom: 20px;
    border-bottom: solid 1px #e4e4e5;
}

.isFee {
    margin-top: 30px;
}

.genre {
    width: 430px;
    padding-bottom: 20px;
    /*display: block;*/
    border-bottom: solid 1px #e4e4e5;
}

.form-ok-no-wrapper-btn {
    margin-top: 20px;
}

.upper-genre-choice {
    margin-top: 10px;
}

.lower-genre-choice {
    margin-top: 10px;
    margin-left: 30px;
}

.upper-lower-wrapper {
    display: flex;
}

.upper-genre-p {
    margin-top: 10px;
}

.upper-lower-p {
    display: flex;
}

.lower-genre-p {
    margin-top: 10px;
    margin-left: 50px;
}

/* list.html */

.report-comment-title {

    font-weight: bolder;
    font-size: 30pt;
}

p {
    font-size: 8pt;
}

.report-introduce {
    color: red;
}

.textarea {
    width: 430px;
    height: 100px;
}

.report-comment-reason {
    margin-top: 10px;
    margin-bottom: 0px;
}

/* report-popup-comment.html */
.report-comment-title {
    font-weight: bolder;
    font-size: 30pt;
}

p {
    font-size: 8pt;
}

.report-introduce {
    color: red;
}

.textarea {
    width: 430px;
    height: 100px;
}

.report-comment-reason {
    margin-top: 10px;
    margin-bottom: 0px;
}

/* report-popup-post */
p {
    font-size: 8pt;
}

.report-introduce {
    margin-top: 30px;
    margin-bottom: 30px;
    color: red;
}

.textarea {
    width: 430px;
    height: 100px;
}

.report-header-text {
    font-weight: bold;
    font-size: 30px;
}

.label-report {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* series-add.html */
.input {
    width: 330px;
    height: 30px;
}

.textarea {
    width: 430px;
    height: 200px;
    text-align: left;
}

.add-series {
    font-weight: bold;
    font-size: 30px;
}

.form-item {
    /*border-bottom:solid 1px #e4e4e5;*/
    width: 430px;
    margin-top: 10px;
}

.max-title {
    margin-top: 5px;
    margin-left: 5px;
}

.series-publish {
    width: 430px;
    height: 60px;
    margin-top: 10px;
    border-bottom: solid 1px #e4e4e5;
}

/*hr{*/
/*    width:430px;*/
/*    margin-right:990px;*/
/*    background-color: #dededf;*/
/*}*/
.max-title-text {
    margin-bottom: 20px;
    border-bottom: none;
    font-size: 10px;
}

.form__input--file_wrap {
    position: relative;
    bottom: 130px;
    left: 80px;
}

.series-add-thumbnail {
    width: 103px;
    height: 140px;
    border-radius: 3px;
}

.sub-content form input {
    width: 300px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sub-content form input::file-selector-button {
    display: none;
}

.file-input-label {
    padding: 7px;
    /*border:solid 1px;*/
    border-radius: 5px;
    background-color: #c4c8cb;
}

.form-item-thumbnail {
    width: 430px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #e4e4e5;
}

.fileBox {
    margin-left: 30px;
}

.thumbnail-file-wrap {
    height: 150px;
    margin-top: 10px;
}

.pl {
    box-sizing: border-box;
    width: 170px;
    height: 42px;
    margin-bottom: 10px;
    padding: 12px 13px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto';
}

.pl:focus {
    box-sizing: border-box;
    border: 1px solid #fda9ad;
    border-radius: 10px;
    border-radius: 10px;
}

.label-series-option {
    position: relative;
    bottom: 17px;
    left: 258px;
    margin-bottom: 50px;
}

.ok-button {
    margin-right: 10px;
    margin-left: 120px;
}

.genre-wrapper {
    width: 430px;
    border-bottom: solid 1px #e4e4e5;
}

.form-item-title-wrapper {
    width: 430px;
    border-bottom: solid 1px #e4e4e5;
}

/* series-page.html */
/*html{*/
/*	margin-left:450px;*/
/*}*/
.series-thumbnail {
    width: 193px;
    height: 250px;
    margin-right: 30px;
}

.series-thumbnail-button-img {
    border-radius: 3px;
}

.series-title {
}

.container {
    margin-top: 20px;

}

.series-author-information-detail-image {
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.series-author-information-detail-name {
}

.container-inner {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-columns: 230px 300px 200px;
}

.series-content-shorts {
    margin-top: 80px;
}

.author-image-name {
    display: flex;
}

.series-author-information-detail-image {
    /*margin-top:3px;*/
    margin-right: 15px;
}

.series-author-name {
    width: 300px;
    color: black;
}

.series-title-inner {
    margin-bottom: 20px;
    font-weight: bold;
}

.writer {
    color: lightgray;
}

.membership-button {
    border-radius: 6px;
    background-color: lightgray;
    color: black;
    font-size: 15px;
}

.btn {
    width: 70px;
    height: 20px;
    border-radius: 6px;
    background-color: lightgray;
    color: black;
    font-size: 9px;
}

.container-button-like {
    width: 325px;
    height: 50px;
    border-radius: 3px;
    /*margin-left: 92px;*/
    background-color: #00da64;
    color: white;
    text-align: center;
}

.container-button {
    margin-top: 30px;
}

.container-button-first-post {
    width: 325px;
    height: 50px;
    margin-bottom: 4px;
    border-radius: 3px;
    background-color: #00da64;
    color: white;
    text-align: center;
}

.series-genre {
    margin-top: 30px;
}

.series-genre-upper, .series-genre-lower {
    padding: 8px;
    border-radius: 10px;
    background-color: #f4f4f5;
    color: #656566;
    font-size: 15px;
    text-decoration: none;
}

.series-bundle {
    /*margin-left:92px;*/
    display: flex;
    width: 650px;
    height: 30px;
    margin-top: 30px;
    border-bottom: solid 1px #d1d1d2;
    color: #656566;
}

.series-bundle-add {
    /*margin-left:350px;*/
    float: right;
}

.series-add-post {
    margin-left: 500px;
}

.membership-subscribe-btn {
    float: right;
}

/*구분선*/
.post-title-input {
    margin-bottom: 30px;
}

/*writer css*/
#btnDiv {
    text-align: center;
    margin-top: 20px;
}

.btns {
    display: inline-block;
    padding: 0 10px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    border: 1px solid transparent;
    font-weight: 500;
}

.btns.save {
    background: #139dc8;
    color: #fff;
    cursor: pointer;
}

.btns.back {
    background: #fff;
    border: 1px solid #199bc4;
    color: #199bc4;
}

/*#title {*/
/*    margin-bottom: 20px;*/
/*}*/

.post-title-form {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}
.title-title {
    margin-bottom: 0px;
}

/* series.html */
.series-thumbnail {
    margin-right: 30px;
    width: 193px;
    height: 250px;
}
.series-thumbnail-button-img {
    border-radius: 3px;
}
.series-title {
}
.container {
    margin-top: 20px;

}
.series-author-information-detail-image {
    width: 24px;
    height: 24px;
    border-radius: 100%;
}
.series-author-information-detail-name {
}

.container-inner {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-columns: 230px 300px 200px;
}
.series-content-shorts {
    margin-top: 80px;
}
.author-image-name {
    display: flex;
}
.series-author-information-detail-image {
    /*margin-top:3px;*/
    margin-right: 15px;
}
.series-author-name {
    color: black;
    width: 300px;
}
.series-title-inner {
    font-weight: bold;
    margin-bottom: 20px;
}
.writer {
    color: lightgray;
}
.membership-button {
    font-size: 15px;
    border-radius: 6px;
    color: black;
    background-color: lightgray;
}
.btn {
    font-size: 9px;
    border-radius: 6px;
    color: black;
    background-color: lightgray;
    width: 70px;
    height: 20px;
}
.container-button-like {
    width: 325px;
    height: 50px;
    /*margin-left: 92px;*/
    background-color: #00da64;
    border-radius: 3px;
    color: white;
    text-align: center;
}
.container-button {
    margin-top: 30px;
}
.container-button-first-post {
    width: 325px;
    height: 50px;
    background-color: #00da64;
    border-radius: 3px;
    color: white;
    text-align: center;
    margin-bottom: 4px;
}
.series-genre {
    margin-top: 30px;
}
.series-genre-upper, .series-genre-lower {
    text-decoration: none;
    border-radius: 10px;
    background-color: #f4f4f5;
    color: #656566;
    font-size: 15px;
    padding: 8px;
}
.series-bundle {
    color: #656566;
    margin-top: 30px;
    /*margin-left:92px;*/
    display: flex;
    border-bottom: solid 1px #d1d1d2;
    width: 650px;
    height: 30px;
}
.series-bundle-add {
    /*margin-left:350px;*/
    float: right;
}

.series-add-post {
    margin-left: 500px;
}
.membership-subscribe-btn {
    float: right;
}
.post-information-thumbnail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 130px 300px 300px;
    position: relative;
    width: 106px;
    height: 62px;
    background-size: cover;
    background-repeat: no-repeat;
    /*opacity: 0.5;*/
    margin-top: 10px;
    border-bottom: solid 1px #d1d1d2;
}
.post-information-thumbnail-content {
    /*display: grid;*/
    width: 106px;
    height: 62px;
    filter: brightness(0.6);
}
.bi-lock-fill {
    position: absolute;
    width: 65px;
    height: 65px;
    /*left:0px;*/
    bottom: 6px;
    left: 20px;
}
.post-information-adult {
    position: absolute;
    left: 2px;
    bottom: 21px;
}
.post-information-lock {
    position: absolute;
    bottom: 6px;
    left: 35px;
    font-weight: bolder;
}
.series-post-content-information {
    display: grid;
    float: left;
    margin-top: 10px;
}
.b {
    display: flex;
    color: #00d864;
}
.post-information-like {
    margin-right: 30px;
    margin-bottom: 20px;
    color: #00d864;
}
.post-information-title-content {
    margin-bottom: 0px;
    font-weight: bolder;
}
.post-information-log {
    margin-bottom: 20px;
}
.series-post-update-delete {
    margin-left: 70px;
}
.post-information-lock {
    text-align: center;
}
.post-information-thumbnail {
    border-bottom: solid 1px #d1d1d2;
}
.cancled {
    display: flow;
    border: solid 1px #d1d1d2;
    margin-top: 10px;
    border-radius: 5pt;
    padding: 3px;
    /*font-size:7px;*/
}
.recognize-title-size {
    color: red;
}
.box-order-amount {
    margin-top: 10px;
}
.recognize-shorts-size {
    color: red;
}
.series-genre-wrapper {
    display: flex;
    margin-right: 10px;
}
.series-genre-lower {
    width: 100px;
    margin-left: 20px;
}
.comment-wrapper {
    margin-top: 60px;
    margin-bottom: 30px;
}
.comment-content-area {
    width: 600px;
    /*min-height:150px;*/
    height: auto;
    text-align: left;
}
.comment-writer-area {
    margin-top: 10px;
    font-weight: bolder;
    font-size: 20px;
    line-height: 30px;
}
.comment-content {
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    width: 600px;
    word-wrap: break-word;
}

.comment-date-area {
    margin-top: 30px;
    font-size: 20px;
    font-weight: normal;
    color: #d1d1d2;
    line-height: 60px;
}
.comment-content-area {
    margin: 10px;
    border-top: solid 1px;
    border-color: #fda9ad;
}
.btn-wrapper {
    display: flex;
    margin-bottom: 10px;
}
.second-button {
    display: flex;
}
/*.button{*/

/*}*/

.reply {
    width: 107px;
    height: 40px;
}
.reply-repeat{
    background-color: #d1d1d2;
    padding-left:40px;
}
