.sub-content { padding-top: 80px; padding-bottom: 40px } 
.sub-content .list-group .item { display: flex; justify-content: space-between; } 
.sub-content .table-option .form-item { width: 180px; }
.sub-content .thumbnail-image { overflow: hidden; border-radius: 7px; }

.sub-content .series-list .swiper-wrapper{flex-wrap: wrap}
.sub-content .series-list .swiper-slide{margin-left: 16px; margin-bottom: 16px}
.sub-content .series-list .swiper-slide:nth-child(5n+1){margin-left: 0}
/* search ======================================== */
.search-content .section { margin: 50px auto 0 } 
.search-content .box-no-content { margin: 0 } 
.search-content .box { padding: 20px; border: 1px solid #ccc; border-radius: 5px; }
 /* story ======================================== */
.story-header { width: 100%; } 
.story-header .user-profile-wrap { display: flex; align-items: flex-start; justify-content: space-around; padding-bottom: 20px; } 
.story-header .btn-settings { padding-top: 4px; padding-bottom: 4px; background-color: #333; color: #fff; font-size: 14px; } 
.story-header .user-intro { display: flex; flex-direction: row-reverse; flex-wrap: wrap; align-content: space-around; width:704px; margin-top: 52px; } 
.user-intro .title { font-weight: 600; font-size: 18px;; } 
.user-intro .intro { width: 704px; height: 100px; margin-top: 12px; color: #999; font-size: 16px; line-height: 150%; } 

.story-nav { border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; } 
.story-nav ul { display: flex } 
.story-nav li { padding: 0 24px; } 
.story-nav li.active a,
.story-nav li.active button { border-bottom: 3px solid #000; color: #000; font-weight: 600; } 
.story-nav li a,
.story-nav li button { display: block; padding: 16px 0 12px; color: #999; font-size: 20px } 

.story-content .inner { padding: 40px 16px 60px } 
/* settings ======================================== */
.settings-wrap { display: flex; } 
.settings-wrap .inner { width: 900px } 
.settings-wrap .content { padding: 80px 40px 0 } 
.settings-wrap .sub-content { margin-left: 80px } 

.settings-wrap .settings-aside { width: 180px; min-width: 180px; height: calc(100vh - 81px); padding: 20px; border-right: 1px solid #ddd; vertical-align: middle; } 
.settings-wrap .settings-nav .bi { width: 30px; padding-right: 4px; font-size: 20px } 
.settings-wrap .settings-nav .depth1-li.on .depth1-btn { font-weight: bold; } 
.settings-wrap .settings-nav .depth1-btn { padding-bottom: 12px } 
.settings-wrap .settings-nav .depth1-text { font-size: 18px } 
.settings-wrap .settings-nav .depth2-text { padding-left: 30px; color: #666; font-size: 16px; } 

/* .settings-wrap .inner { margin-left: } */
.nav-depth1 > li { margin-bottom: 7px } 
.settings-aside li { padding: 7px 0 } 
.settings-aside li a { display: flex; align-items: center; } 

/* user ======================================== */
.input_box select { width: 100%; padding: 15px; border: 1px solid #CECECE; border-radius: 5px; } 