<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="/css/main.css" />
</th:block>

<th:block layout:fragment="content">
    <div class="sub-content search-content">
        <div class="inner">
            <h2 class="h2">검색 결과</h2>

            <section class="section section-weekly-series">
                <h3 class="h3">시리즈</h3>


                <th:block th:if="${seriesList.size() == 0 || seriesList == null}">
                    <div class="box box-no-content">
                        <p>검색 결과가 없습니다.</p>
                    </div>
                </th:block>
                <th:block th:unless="${seriesList.size() == 0 || seriesList == null}">
                    <div class="main-series-swiper series-list">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" th:each="series:${seriesList}">
                                <a th:onclick="'location.href = \'' + @{/series/page(code=${series.code})} + '\''">
                                    <div class="thumbnail-image">
                                        <img class="best-series-img"
                                             th:src="${series.thumbnailImage != null ? series.thumbnailImage : '/images/temp/profile.png'}"
                                             alt="" onerror="this.src='/images/temp/thumbnail.png'" />
                                    </div>
                                    <p class="description" th:text="${series.title}"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </th:block>
            </section>

            <section class="section section-weekly-posts">
                <h3 class="h3">포스트</h3>

                <th:block th:if="${postList.size() == 0 || postList == null}">
                    <div class="box box-no-content">
                        <p>검색 결과가 없습니다.</p>
                    </div>
                </th:block>
                <th:block th:unless="${postList.size() == 0 || postList == null}">
                    <div class="post-list post-list-2">
                        <div class="post-item " th:each="post:${postList}" th:onclick="|onClickValidatePost(${post.code})|">
                            <div class="thumbnail-image">
                                <img th:src="${post.thumbnailImage != null ? post.thumbnailImage : '/images/temp/profile.png'}"
                                     alt="미리보기" onerror="this.src='/images/temp/thumbnail.png'" />
                            </div>
                            <div class="post-content">
                                <div class="post-text">
                                    <h3 class="post-name" th:text="${post.title}"></h3>
                                    <!--                                <p class="post-description" th:utext="${post.content}"></p>-->
                                </div>
                                <br>
                                <div class="post-meta">
                                    <dl class="date">
                                        <dt>
                                            <i class="bi bi-calendar"></i>
                                            <span class="blind">작성일</span>
                                        </dt>
                                        <dd th:text="${post.createDate}"></dd>
                                    </dl>
                                    <dl class="views">
                                        <dt>
                                            <i class="bi bi-eye"></i>
                                            <span class="blind">조회수</span>
                                        </dt>
                                        <dd>1324</dd>
                                    </dl>
                                    <dl class="like">
                                        <dt>
                                            <i class="bi bi-heart"></i>
                                            <span class="blind">좋아요</span>
                                        </dt>
                                        <dd>100</dd>
                                    </dl>
                                    <dl class="comment">
                                        <dt>
                                            <i class="bi bi-reply"></i>
                                            <span class="blind">댓글</span>
                                        </dt>
                                        <dd>14</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">

</th:block>
</html>