<!DOCTYPE html>
<html layout:decorate="~{/layout/settings}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" lang="ko">
<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/sub.css}" href="/css/sub.css" />
    <link rel="stylesheet" th:href="@{/css/user.css}" href="/css/user.css" />
</th:block>

<th:block layout:fragment="content">
    <div class="content">
        <div class="inner">
            <section class="section section-settlement">
                <h2 class="h2">정산 계좌 정보</h2>

                <form action="/user/settlement" method="post" th:object="${userSettlement}">
                    <div class="my_profile_bottom">
                        <div class="inputWrap">
                            <label for="bankCode" class="labelTitle">은행</label>
                            <div class="input_box">
                                <!--                                 <select id="bankCode" name="bankCode" th:field="*{bankCode}"> -->
                                <!--                                     <option value="2">산업은행</option> -->
                                <!--                                     <option value="3">기업은행</option> -->
                                <!--                                     <option value="4">KB국민은행</option> -->
                                <!--                                     <option value="5">외환은행</option> -->
                                <!--                                     <option value="7">수협</option> -->
                                <!--                                     <option value="11">농협</option> -->
                                <!--                                     <option value="12">축협</option> -->
                                <!--                                     <option value="20">우리은행</option> -->
                                <!--                                     <option value="23">SC제일은행</option> -->
                                <!--                                     <option value="27">한국씨티은행</option> -->
                                <!--                                     <option value="31">대구은행</option> -->
                                <!--                                     <option value="32">부산은행</option> -->
                                <!--                                     <option value="34">광주은행</option> -->
                                <!--                                     <option value="35">제주은행</option> -->
                                <!--                                     <option value="37">전북은행</option> -->
                                <!--                                     <option value="39">경남은행</option> -->
                                <!--                                     <option value="48">신협</option> -->
                                <!--                                     <option value="71">우체국</option> -->
                                <!--                                     <option value="81">하나은행</option> -->
                                <!--                                     <option value="88">신한은행</option> -->
                                <!--                                     <option value="89">K뱅크</option> -->
                                <!--                                     <option value="90">카카오뱅크</option> -->
                                <!--                                     <option value="209">유안타증권</option> -->
                                <!--                                     <option value="218">현대증권</option> -->
                                <!--                                     <option value="230">미래에셋증권</option> -->
                                <!--                                     <option value="238">대우증권</option> -->
                                <!--                                     <option value="240">삼성증권</option> -->
                                <!--                                     <option value="243">한국투자증권</option> -->
                                <!--                                     <option value="247">우리투자증권</option> -->
                                <!--                                     <option value="261">교보증권</option> -->
                                <!--                                     <option value="262">하이투자증권</option> -->
                                <!--                                     <option value="263">에이치엠씨투자증권</option> -->
                                <!--                                     <option value="264">키움증권</option> -->
                                <!--                                     <option value="265">이트레이드증권</option> -->
                                <!--                                     <option value="266">에스케이증권</option> -->
                                <!--                                     <option value="267">대신증권</option> -->
                                <!--                                     <option value="268">솔로몬투자증권</option> -->
                                <!--                                     <option value="269">한화증권</option> -->
                                <!--                                     <option value="270">하나대투증권</option> -->
                                <!--                                     <option value="278">굿모닝신한증권</option> -->
                                <!--                                     <option value="279">동부증권</option> -->
                                <!--                                     <option value="280">유진투자증권</option> -->
                                <!--                                     <option value="287">메리츠증권</option> -->
                                <!--                                     <option value="289">엔에이치투자증권</option> -->
                                <!--                                     <option value="290">부국증권</option> -->
                                <!--                                 </select> -->
                            </div>
                        </div>
                        <div class="inputWrap">
                            <label for="accountNumber" class="labelTitle">계좌번호</label>
                            <div class="input_box">
                                <input type="text" id="accountNumber" name="accountNumber" th:field="*{accountNumber}">
                            </div>
                        </div>
                        <div class="inputWrap">
                            <label for="accountHolder" class="labelTitle">예금주</label>
                            <div class="input_box">
                                <input type="text" id="accountHolder" name="accountHolder" th:field="*{accountHolder}">
                            </div>
                        </div>
                    </div>
                    <div class="modify_btn">
                        <input type="submit" class="black_btn" value="확인">
                    </div>
                </form>
            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
</th:block>
</html>
