<!DOCTYPE html>
<html layout:decorate="~{/layout/settings}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" lang="ko">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/user.css}" href="/css/user.css" />
</th:block>

<th:block layout:fragment="content">
    <div class="content">
        <div class="inner">
            <section class="section section-settlement">

                <h2 class="h2" th:text="#{page.settings.user.settlement}">정산 계좌 정보</h2>

                <form th:action="@{/settings/user/settlement}" th:method="post" th:object="${userSettlement}" onsubmit="saveUserSettlementForm(event)" name="userSettlementForm">
                    <input type="hidden" th:field="*{userCode}">
                    <div class="my_profile_bottom">
                        <div class="inputWrap">
                            <label for="bankCode" class="labelTitle">은행</label>
                            <div class="input_box">

                                <select id="bankCode" name="bankCode" th:field="*{bankCode}">
                                    <option th:value="0" th:selected="${bankCode} == null">== 선택 ==</option>
                                    <option th:value="002" th:selected="${bankCode} == value">산업</option>
                                    <option th:value="003" th:selected="${bankCode} == value">기업</option>
                                    <option th:value="004" th:selected="${bankCode} == value">국민</option>
                                    <option th:value="007" th:selected="${bankCode} == value">수협</option>
                                    <option th:value="011" th:selected="${bankCode} == value">농협</option>
                                    <option th:value="012" th:selected="${bankCode} == value">단위농협</option>
                                    <option th:value="020" th:selected="${bankCode} == value">우리</option>
                                    <option th:value="023" th:selected="${bankCode} == value">SC제일</option>
                                    <option th:value="027" th:selected="${bankCode} == value">씨티</option>
                                    <option th:value="031" th:selected="${bankCode} == value">대구</option>
                                    <option th:value="032" th:selected="${bankCode} == value">부산</option>
                                    <option th:value="034" th:selected="${bankCode} == value">광주</option>
                                    <option th:value="035" th:selected="${bankCode} == value">제주</option>
                                    <option th:value="037" th:selected="${bankCode} == value">전북</option>
                                    <option th:value="039" th:selected="${bankCode} == value">경남</option>
                                    <option th:value="045" th:selected="${bankCode} == value">새마을</option>
                                    <option th:value="048" th:selected="${bankCode} == value">신협</option>
                                    <option th:value="050" th:selected="${bankCode} == value">저축</option>
                                    <option th:value="064" th:selected="${bankCode} == value">산림</option>
                                    <option th:value="071" th:selected="${bankCode} == value">우체국</option>
                                    <option th:value="081" th:selected="${bankCode} == value">하나</option>
                                    <option th:value="088" th:selected="${bankCode} == value">신한</option>
                                    <option th:value="089" th:selected="${bankCode} == value">케이</option>
                                    <option th:value="090" th:selected="${bankCode} == value">카카오</option>
                                    <option th:value="092" th:selected="${bankCode} == value">토스</option>
                                </select>

                            </div>
                        </div>
                        <div class="inputWrap">
                            <label for="accountNumber" class="labelTitle">계좌번호</label>
                            <div class="input_box">

                                <input type="text" id="accountNumber" name="accountNumber" th:field="*{accountNumber}" maxlength="14" placeholder="숫자만 입력" oninput="restrictInputToNumeric(event)"
                                       pattern="[0-9]+" required>

                            </div>
                        </div>
                        <div class="inputWrap">
                            <label for="accountHolder" class="labelTitle">예금주</label>
                            <div class="input_box">

                                <input type="text" id="accountHolder" name="accountHolder" th:field="*{accountHolder}" required>
                            </div>
                        </div>
                    </div>

                    <div class="modify_btn">
                        <input type="submit" class="black_btn" value="확인">
                    </div>
                    <p class="form-message is-danger" id="errorMessage"></p>
                </form>
            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/settlement.js}" src="/js/settlement.js"></script>
</th:block>
</html>

