<!DOCTYPE html>
<html layout:decorate="~{/layout/settings}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" lang="ko">
<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/user.css}" href="/css/user.css" />
</th:block>

<th:block layout:fragment="content">
    <div class="content">
        <div class="inner">
            <section class="section section-settlement">
                <h2 class="h2" th:text="#{page.settings.user.settlement}">정산 계좌 정보</h2>

                <form th:action="@{/settings/user/settlement}" th:method="post" th:object="${userSettlement}" onsubmit="saveUserSettlementForm(this)" name="userSettlementForm">
                    <input type="hidden" th:field="*{userCode}">

                    <div class="my_profile_bottom">
                        <div class="inputWrap">
                            <label for="bankCode" class="labelTitle">은행</label>
                            <div class="input_box">
                                <select id="bankCode" name="bankCode" th:field="*{bankCode}">
                                    <option th:value="0" th:selected="${bankCode} == null">== 선택 ==</option>
                                    <option th:value="2" th:selected="${bankCode} == value">산업</option>
                                    <option th:value="3" th:selected="${bankCode} == value">기업</option>
                                    <option th:value="4" th:selected="${bankCode} == value">국민</option>
                                    <option th:value="7" th:selected="${bankCode} == value">수협</option>
                                    <option th:value="11" th:selected="${bankCode} == value">농협</option>
                                    <option th:value="12" th:selected="${bankCode} == value">단위농협</option>
                                    <option th:value="20" th:selected="${bankCode} == value">우리</option>
                                    <option th:value="23" th:selected="${bankCode} == value">SC제일</option>
                                    <option th:value="27" th:selected="${bankCode} == value">씨티</option>
                                    <option th:value="31" th:selected="${bankCode} == value">대구</option>
                                    <option th:value="32" th:selected="${bankCode} == value">부산</option>
                                    <option th:value="34" th:selected="${bankCode} == value">광주</option>
                                    <option th:value="35" th:selected="${bankCode} == value">제주</option>
                                    <option th:value="37" th:selected="${bankCode} == value">전북</option>
                                    <option th:value="39" th:selected="${bankCode} == value">경남</option>
                                    <option th:value="45" th:selected="${bankCode} == value">새마을</option>
                                    <option th:value="48" th:selected="${bankCode} == value">신협</option>
                                    <option th:value="50" th:selected="${bankCode} == value">저축</option>
                                    <option th:value="64" th:selected="${bankCode} == value">산림</option>
                                    <option th:value="71" th:selected="${bankCode} == value">우체국</option>
                                    <option th:value="81" th:selected="${bankCode} == value">하나</option>
                                    <option th:value="88" th:selected="${bankCode} == value">신한</option>
                                    <option th:value="89" th:selected="${bankCode} == value">케이</option>
                                    <option th:value="90" th:selected="${bankCode} == value">카카오</option>
                                    <option th:value="92" th:selected="${bankCode} == value">토스</option>
                                </select>
                            </div>
                        </div>
                        <div class="inputWrap">
                            <label for="accountNumber" class="labelTitle">계좌번호</label>
                            <div class="input_box">
                                <input type="text" id="accountNumber" name="accountNumber" th:field="*{accountNumber}" placeholder="숫자만 입력해주세요" maxlength="14" required>
                            </div>
                        </div>
                        <div class="inputWrap">
                            <label for="accountHolder" class="labelTitle">예금주</label>
                            <div class="input_box">
                                <input type="text" id="accountHolder" name="accountHolder" th:field="*{accountHolder}" required>
                            </div>
                        </div>
                    </div>
                    <div class="modify_btn">
                        <input type="submit" class="black_btn" value="확인">
                    </div>
                </form>
            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/settlement.js}" src="/js/settlement.js"></script>
</th:block>
</html>

