<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>구독/멤버십 구독-스토리 목록</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!-- Font -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" as="style" crossorigin />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
		<!-- CSS -->
		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/common.css" />
	</head>

	<body>
	<section>
		<h2>구독/멤버십</h2>
		<div>
			<button onclick="location.href='/subscribe/storyList'">구독</button>
			<button onclick="location.href='/membership/list'">멤버십</button>
		</div>
		<div>
			<button onclick="location.href='/subscribe/storyList'">스토리</button>
			<button onclick="location.href='/subscribe/postList'">포스트</button>
		</div>
		<div>
			<h3 class="h3">스토리</h3>
			<p>총
				<span th:text="${subscriberStoryCount}">00</span>명</p>
		</div>
		<div th:if="${subscribers != null and subscribers.size() > 0}">
			<div th:each="subscribe : ${subscribers}">
				<p th:text="${subscribe.nickname}"></p>
				<p th:text="${introduction}"></p>
				<p th:text="${subscribe.subscribedDate}"></p>
				<button class="button" id="subscribeButton">구독</button>
			</div>
		</div>
	</section>
	</body>
</html>
