<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>구독/멤버십 구독-스토리 목록</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!-- Font -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" as="style" crossorigin />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
		<!-- CSS -->
		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/common.css" />
	</head>
	<body>
		<div>
			<h3 class="h3">구독</h3>
			<h3 class="h3">멤버십</h3>
		</div>
		<div>
			<p>스토리</p>
			<p>포스트</p>
		</div>
		<div>
			<p>구독한 스토리 이름</p>
			<p>채널 설명입니다. 채널 설명이에요. 설명이라구요!!! 어러러러</p>
			<!--    <p>구독한 채널 이름</p>-->
			<button onclick="location.href=''">구독상태</button>
		</div>
		<div>
			<p>구독한 스토리 이름</p>
			<p>채널 설명입니다. 채널 설명이에요. 설명이라구요!!! 어러러러</p>
			<!--    <p>구독한 채널 이름</p>-->
			<button onclick="location.href=''">구독상태</button>
		</div>
		<div>
			<p>구독한 스토리 이름</p>
			<p>채널 설명입니다. 채널 설명이에요. 설명이라구요!!! 어러러러</p>
			<!--    <p>구독한 채널 이름</p>-->
			<button onclick="location.href=''">구독상태</button>
		</div>
		<div>
			<p>구독한 스토리 이름</p>
			<p>채널 설명입니다. 채널 설명이에요. 설명이라구요!!! 어러러러</p>
			<!--    <p>구독한 채널 이름</p>-->
			<button onclick="location.href=''">구독상태</button>
		</div>
		<div>
			<p>구독한 스토리 이름</p>
			<p>채널 설명입니다. 채널 설명이에요. 설명이라구요!!! 어러러러</p>
			<!--    <p>구독한 채널 이름</p>-->
			<button onclick="location.href=''">구독상태</button>
		</div>
		<div>
			<p>구독한 스토리 이름</p>
			<p>채널 설명입니다. 채널 설명이에요. 설명이라구요!!! 어러러러</p>
			<!--    <p>구독한 채널 이름</p>-->
			<button onclick="location.href=''">구독상태</button>
		</div>
	</body>
</html>
