<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/story}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/story.css}" href="/css/story.css"/>
</th:block>

<th:block layout:fragment="content">
    <div class="story-content">
        <div class="inner">
            <div id="membership-created">
                <section class="section" sec:authorize="isAuthenticated()">
                    <div>
                        <h3 class="h3">구독자</h3>
                        <p>총
                            <span th:text="${subscriberCount}">00</span>명</p>
                        <div>
                            <div th:if="${subscribers == null or subscribers.size() == 0}">
                                <p>
                                    아직 구독자가 없어요!<br/>
                                    매력적인 포스트로 사람들의 마음을 사로잡으세요!
                                </p>
                            </div>
                            <div th:if="${subscribers != null and subscribers.size() > 0}">
                                <div th:each="subscribe : ${subscribers}">
                                    <p th:text="${subscribe.nickname}"></p>
                                    <p th:text="${subscribe.subscribedDate}"></p>
                                    <button class="button">구독</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- ------------------------------------ -->
            </div>
        </div>
    </div>
</th:block>

</html>


















