<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/settings}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/point.css}" href="/css/point.css" />
</th:block>

<th:block layout:fragment="content">
    <div class="sub-content">
        <div class="inner">
            <section class="section section-point">
                <h2 class="h2">수익 적립 내역</h2>

                <div class="summary-wrap">
                    <!--                     <dl class="desc-list"> -->
                    <!--                         <dt class="desc-list-dt">총 적립 금액</dt> -->
                    <!--                         <dd class="desc-list-dd"></dd> -->
                    <!--                     </dl> -->
                    <!--                     <dl class="desc-list"> -->
                    <!--                         <dt class="desc-list-dt">출금 금액</dt> -->
                    <!--                         <dd class="desc-list-dd"></dd> -->
                    <!--                     </dl> -->
                    <dl class="desc-list">
                        <dt class="desc-list-dt">보유 수익</dt>
                        <dd class="desc-list-dd" th:text="|${#authentication.principal.revenue > 0 ? #numbers.formatInteger(#authentication.principal.revenue, 3, 'COMMA') : 0}원|"></dd>
                    </dl>
                </div>

                <!--                <div class="search-option">-->
                <!--                    <div class="form-item">-->
                <!--                        <select class="select">-->
                <!--                            <option value="">전체</option>-->
                <!--                            <option value="">멤버십</option>-->
                <!--                            <option value="">포스트</option>-->
                <!--                        </select>-->
                <!--                    </div>-->
                <!--                </div>-->

                <div class="table-box">
                    <table class="table">
                        <thead>
                            <th>구분</th>
                            <th>적립금</th>
                            <th>내용</th>
                            <th>적립일</th>
                        </thead>
                        <tbody>
                            <th:block th:if="${revenueList == null || revenueList.size() == 0}">
                                <tr>
                                    <td colspan="4">수익 적립 내역이 없습니다.</td>
                                </tr>
                            </th:block>
                        <tbody>
                            <th:block th:unless="${revenueList == null || revenueList.size() == 0}" th:each="revenue : ${revenueList}">
                                <tr>
                                    <td th:text="${revenue.type}">멤버십</td>
                                    <td th:text="|${revenue.point > 0 ? #numbers.formatInteger(revenue.point, 3, 'COMMA') : 0}P|"></td>
                                    <th:block>
                                        <td th:if="${revenue.postTitle} != null" th:text="${revenue.postTitle}"></td>
                                        <td th:if="${revenue.membershipName} != null" th:text="${revenue.membershipName}"></td>
                                    </th:block>
                                    <td th:text="${#temporals.format(revenue.createDate, 'yyyy-MM-dd HH:mm:ss ')}">2024.04.02</td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>

                <th:block th:replace="~{/fragments/common/pagination :: pagination('/settings/revenue/list')}"></th:block>
            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script"></th:block>
</html>
