<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/settings}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/point.css}" href="/css/point.css" />
</th:block>

<th:block layout:fragment="content">
    <div class="sub-content">
        <div class="inner">
            <section class="section">
                <section class="section section-point">
                    <h2 class="h2">정산 요청</h2>

                    <!-- 내용 -->
                    <div class="box-settlement">
                        <th:block th:if="${ settlement.getUserSettlementCode == null }">
                            <p>계좌 정보가 존재하지 않습니다.</p>
                            <p>출금을 위해 계좌 정보를 등록해주세요!</p>

                            <div class="box-bottom">
                                <input type="button" class="button dark" value="계좌 등록">
                            </div>
                        </th:block>
                        <th:block th:unless="${ settlement.userSettlementCode <= 0 }">
                            <form action="/settings/settlement/" th:object="${settlement}">
                                <input type="hidden" th:field="*{userSettlementCode}">
                                <input type="hidden" th:value="${#authentication.principal.revenue}">

                                <div class="box box-desc-list">
                                    <dl class="desc-list">
                                        <dt class="desc-list-dt large">출금 가능한 수익</dt>
                                        <dd class="desc-list-dd large" th:text="${#authentication.principal.revenue}"></dd>
                                        <dt class="desc-list-dt border-top">
                                            <label for="requestAmount">신청 금액</label>
                                        </dt>
                                        <dd class="desc-list-dd border-top">
                                            <input type="number" id="requestAmount" name="requestAmount" class="input"
                                                   oninput="restrictInputToNumeric(this)" pattern="[0-9]+" required>
                                        </dd>
                                        <dt class="desc-list-dt">
                                            <label for="actualAmount">정산 금액</label>
                                        </dt>
                                        <dd class="desc-list-dd">
                                            <input type="text" id="actualAmount" name="actualAmount" class="input" oninput="calculateActualAmount(this)" disabled>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="box-bottom">
                                    <input type="submit" class="button dark" value="확인">
                                </div>
                            </form>
                        </th:block>
                    </div>
                </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script"></th:block>
</html>

