<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/settings}">

<th:block layout:fragment="link">
    <link rel="stylesheet" th:href="@{/css/point.css}" href="/css/point.css" />
</th:block>

<th:block layout:fragment="content">
    <div class="sub-content">
        <div class="inner">
            <section class="section section-point">
                <h2 class="h2">정산 요청 내역</h2>

                <div class="summary-wrap">
                    <dl class="desc-list">
                        <dt class="desc-list-dt">현재 잔액</dt>
                        <dd class="desc-list-dd" th:text="|${#authentication.principal.revenue > 0 ? #numbers.formatInteger(#authentication.principal.revenue, 3, 'COMMA') : 0}P|"></dd>
                    </dl>
                </div>

                <!--                <div class="search-option">-->
                <!--                    <div class="form-item">-->
                <!--                        <select class="select">-->
                <!--                            <option value="">전체</option>-->
                <!--                            <option value="">2024.03</option>-->
                <!--                            <option value="">2024.02</option>-->
                <!--                        </select>-->
                <!--                    </div>-->
                <!--                </div>-->

                <div class="table-box">
                    <table class="table">
                        <thead>
                            <th>신청일</th>
                            <th>신청 금액</th>
                            <th>실제 지급액</th>
                            <th>상태</th>
                            <th>지급일</th>
                        </thead>
                        <tbody>
                            <th:block th:if="${settlementList == null || settlementList.size() == 0}">
                                <tr>
                                    <td colspan="5">정산 요청 내역이 없습니다.</td>
                                </tr>
                            </th:block>
                            <th:block th:unless="${settlementList == null || settlementList.size() == 0}">
                                <tr>
                                    <td>2024.01</td>
                                    <td>100,000원</td>
                                    <td>90,000원</td>
                                    <td class="is-danger">반려</td>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>2023.10</td>
                                    <td>300,000원</td>
                                    <td>270,000원</td>
                                    <td class="is-success">승인(지급 완료)</td>
                                    <th>2023.10.27</th>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
                <th:block th:replace="~{/fragments/common/pagination :: pagination('/settings/settlement/list')}"></th:block>
            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script"></th:block>
</html>
